<template>
  <div>
    <v-card>
      <v-card-title class="d-flex justify-space-between">
        <h4>{{ govs.type }}</h4>
        <v-btn class="primary">{{ dateTh(govs.newdate) }}</v-btn>
      </v-card-title>
      <v-card-text class="text-center ">
        <div class="border-card">
          <div class="boder-bottom">
            <div>รางวัลที่ 1</div>
            <h3>{{ govs.award }}</h3>
          </div>
          <div class="d-flex justify-space-around">
            <div>
              <div>สามตัวหน้า</div>
              <h3>{{ govs.top3p }}</h3>
            </div>
            <div>
              <div>สามตัวหลัง</div>
              <h3>{{ govs.top3l }}</h3>
            </div>
            <div>
              <div>สองตัวล่าง</div>
              <h3>{{ govs.bot2 }}</h3>
            </div>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "govs",
  props: ["dateTh"],
  computed: {
    ...mapGetters({
      govs: "award/govs",
    }),
  },
};
</script>
<style lang="scss" scoped>
.border-card {
  border: 1px solid #000;
  border-radius: 3px;
}
.boder-bottom {
  border-bottom: 1px solid #000;
}
</style>
