<template>
  <div>
    <div v-for="loa in loas" :key="loa.id">
      <v-card class="mt-2">
        <v-card-title class="d-flex justify-space-between">
          <h4 class="title-loa">{{ loa.type }}</h4>
          <v-btn class="primary">{{ dateTh(loa.newdate) }}</v-btn>
        </v-card-title>
        <v-card-text class="text-center ">
          <div class="border-card">
            <div class="d-flex justify-space-around">
              <div>
                <div>สามตัวบน</div>
                <h3>{{ loa.top3 }}</h3>
              </div>
              <div>
                <div>สองตัวล่าง</div>
                <h3>{{ loa.bot2 }}</h3>
              </div>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "loasandvianam",
  props: ["dateTh"],
  computed: {
    ...mapGetters({
      loas: "award/loas",
    }),
  },
};
</script>
<style lang="scss" scoped>
.border-card {
  border: 1px solid #000;
  border-radius: 3px;
}
.boder-bottom {
  border-bottom: 1px solid #000;
}
@media screen and (max-width:568px) {
    .title-loa {
        font-size: 14px;
    }
}
</style>
