<template>
  <v-card class="mt-5">
    <v-card-title class="d-flex justify-space-between">
      <h4 class="title-loa">
        {{ isPingpong.name }} รอบที่ {{ isPingpong.index }}
      </h4>
      <v-btn class="primary">{{ dateTh(isPingpong.newdate) }}</v-btn>
    </v-card-title>
    <v-card-text>
      <v-card class="mt-2">
        <v-card-text class="text-center ">
          <div class="border-card">
            <div class="d-flex justify-space-around">
              <div>
                <div>สามตัวบน</div>
                <h3>{{ isPingpong.bot3 }}</h3>
              </div>
              <div>
                <div>สองตัวล่าง</div>
                <h3>{{ isPingpong.bot2 }}</h3>
              </div>
            </div>
          </div>
        </v-card-text>
      </v-card>
      <br />
      <v-row class="pa-0">
        <v-col
          class="pa-0 text-center"
          cols="2"
          sm="1"
          v-for="pingpong in pingpongs"
          :key="pingpong.id"
        >
          <button
            @click="setActive(pingpong.index)"
            class="mt-1 button"
            v-bind:class="{ active: isActive == pingpong.index }"
          >
            {{ cvTime(pingpong.close_time) }}
          </button>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "pingpong",
  props: ["dateTh"],
  components: {},
  computed: {
    ...mapGetters({
      pingpongs: "award/pingpongs",
      isActive: "award/isActive",
      isPingpong: "award/isPingpong",
    }),
  },
  methods: {
    setActive(index) {
      this.$store.commit("award/setActive", index);
    },
    cvTime(val) {
      return val.substring(0,5)
    }
  },
};
</script>
<style lang="scss" scoped>
.border-card {
  border: 1px solid #000;
  border-radius: 3px;
}
.boder-bottom {
  border-bottom: 1px solid #000;
}
.button {
  padding: 5px;
  width: 90%;
  background: #dfdfdf;
  cursor: pointer;
  border-radius: 4px;
}
.active {
  background: #1867c0;
  color: #fff;
}
@media screen and (max-width: 568px) {
  .title-loa {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }
  .v-btn {
    width: 100%;
  }
}
</style>
