<template>
  <v-card class="mt-5">
    <v-card-title class="d-flex justify-space-between">
      <h4 class="title-stock">หวยหุ้นต่างประเทศ</h4>
      <v-btn class="primary">{{ dateTh(stocks[0].newdate) }}</v-btn>
    </v-card-title>
    <v-card-text>
      <v-row class="ma-2">
        <v-col cols="12" sm="6" v-for="stock in stocks" :key="stock.id">
          <v-card>
            <v-card-title class="d-flex ">
              <div>
                <v-img
                  class="d-block"
                  :lasy-src="require(`@/assets/result-flags/${stock.type}.png`)"
                  max-height="16"
                  max-width="16"
                  :src="require(`@/assets/result-flags/${stock.type}.png`)"
                ></v-img>
              </div>
              <div class="flex-grow-1 text-center">
                <h5>{{ stock.type }}</h5>
              </div>
            </v-card-title>
            <v-card-text class="text-center ">
              <div class="border-card">
                <div class="d-flex justify-space-around">
                  <div>
                    <div>สามตัวบน</div>
                    <h3>{{ stock.top3 }}</h3>
                  </div>
                  <div>
                    <div>สองตัวล่าง</div>
                    <h3>{{ stock.bot2 }}</h3>
                  </div>
                </div>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  name: "stocks",
  props: ["dateTh"],
  image:
    "https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/225px-Flag_of_South_Korea.svg.png",
  computed: {
    ...mapGetters({
      stocks: "award/stocks",
    }),
  },
};
</script>
<style lang="scss" scoped>
.border-card {
  border: 1px solid #000;
  border-radius: 3px;
}
.boder-bottom {
  border-bottom: 1px solid #000;
}

@media screen and (max-width: 564px) {
  .title-stock {
    font-size: 16px;
  }
}
</style>
