<template lang="th">
<v-dialog transition="dialog-bottom-transition" max-width="600">
    <template v-slot:activator="{ on, attrs }">
        <v-btn class="mt-5" x-large color="success" v-bind="attrs" v-on="on" @click="genDepositAmount" width="100%">ฝากเงิน</v-btn>
    </template>
    <template v-slot:default="dialog">
        <v-card>
          <v-snackbar
      :timeout="2000"
      v-model="alert"
      :color="color"
      :top="true"
      dark
      >{{ alertText }}</v-snackbar
    >
            <v-toolbar color="rgb(210, 179, 113)" dark>แจ้งเติมเครดิต</v-toolbar>
            <!-- ส่วน content -->
            <v-card color="#f5ecca">
                <v-card-text class="red--text">
                    <v-card class="white--text red text-center text-body-2 pa-1">
                    เตือน โปรดใช้บัญชีเดียวกันกับที่ท่านใช้สมัคร <br />
                    แจ้งเติมเงิน *** กรุณาเติมเงินขั้นต่ำ 10 บาท
                    </v-card>
                </v-card-text>
            </v-card>
            <v-card class="p-0">
                <v-card-text class="pt-2 pb-2">
                    {{ownerBankName}} - {{ownerBankAcc}}
                </v-card-text>
            </v-card>
            <v-card class="p-0">
                <v-card-text class="pt-2 pb-2">
                    เลขบัญชี: {{ownerBankAccNo}}
                </v-card-text>
                <v-card-text class="pt-2 pb-2 red--text">
                    ห้ามบันทึก เลข บช.ที่ใช้โอนนี้ เพราะทางเวปมีการเปลี่ยน บช.สำหรับเติมเงินตลอดเวลา
                </v-card-text>
            </v-card>
            <v-card class="p-0">
                <v-card-text class="pt-2 pb-2">
                    จำนวนเงินที่ต้องการฝาก
                    <v-card class="p-0">
                        <v-card-text class="pt-2 pb-2">
                            {{depositAmount}} บาท
                        </v-card-text>
                    </v-card>
                    ฝากก่อนเวลา
                    <v-card class="p-0">
                        <v-card-text class="pt-2 pb-2">
                            {{timeBefore}}
                        </v-card-text>
                    </v-card>
                    หมายเหตุ
                    <v-card class="p-0">
                        <v-card-text>
                            <v-textarea rows="2" row-height="10" v-model="note" :value="note"></v-textarea>
                        </v-card-text>
                    </v-card>
                </v-card-text>

            </v-card>
            <!-- ส่วน button -->
            <v-card-actions class="justify-end">
                <v-btn depressed color="success" @click="createDeposit">ยืนยัน</v-btn>
                <v-btn depressed @click="dialog.value = false" color="error">ยกเลิก</v-btn>
            </v-card-actions>
        </v-card>
        
    </template>
</v-dialog>
</template>

<script>
import { mapState } from "vuex";
import { reqBankAccount, createDeposit } from "@/api/deposit";
export default {
  name: "depositDialog",
  data: function() {
    return {
      form: "",
      userId: "",
      ownerBankName: "",
      ownerBankAcc: "",
      ownerBankAccNo: "",
      depositAmount: "",
      timeBefore: "",
      note: "",
      term: "",
      alert: false, // set snackbar Show/Hide
      alertText: "", // text in snackbar
      color: "",
      dialog: false,
    };
  },
  computed: {
    ...mapState({
      amounts: (state) => state.deposit.amounts,
      credit: (state) => state.lottos.credit,
    }),
    isUser() {
      return this.$store.getters["auth/getUser"];
    },
  },
  methods: {
    async genDepositAmount() {
      // console.log(this.isUser.userId);
      const forms = await reqBankAccount(this.isUser.userId, this.amounts);
      // console.log(forms);
      this.ownerBankName = forms.bank.bank_name;
      this.ownerBankAcc = forms.bank.deposit_account_name;
      this.ownerBankAccNo = forms.bank.deposit_account_no;
      this.depositAmount = forms.satang.amount;
      this.timeBefore = forms.satang.depositdate;
    },
    async createDeposit() {
      await fetch("https://api.ipify.org?format=json")
        .then((x) => x.json())
        .then(({ ip }) => {
          this.term = ip;
        });
      const createDPS = await createDeposit(
        this.isUser.userId,
        this.timeBefore,
        this.depositAmount,
        this.note,
        this.term
      );
      if (createDPS == "บันทึกรายการแจ้งเติมเงินเรียบร้อย") {
        this.color = "green";
        this.alertText = "บันทึกรายการสำเร็จ";
        this.alert = true;
        setTimeout(() => this.$router.go(), 1000);
      } else {
        this.color = "red";
        this.alertText = createDPS;
        this.alert = true;
        setTimeout(() => this.$router.go(), 1000);
      }
    },
  },
  async created() {
    // await this.$store.dispatch("lottos/getCredit", this.isUser.userId);
  },
};
</script>

<style lang=""></style>
