<template>
  <div class="text-center" :v-if="errorMessage != null">
    <v-dialog v-model="showError" width="500" :persistent="true">
      <v-card>
        <v-card-title class="headline grey lighten-2 green--text">
          <h6>{{ errorMessage ? errorMessage.title : "" }}</h6>
        </v-card-title>
        <v-card-text class="red--text mt-1">
          {{ errorMessage ? errorMessage.msg : "" }}
          <p
            class="red--text mb-1"
            v-for="(msg, index) in errorMessage ? errorMessage.payloads : []"
            :key="index"
          >
            {{ msg }}
          </p>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="handle">
            ปิด
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "errornumber",
  props: ["errorMessage", "showError", "closeShowError"],
  methods: {
    handle(e) {
      e.preventDefault();
      this.closeShowError();
    },
  },
};
</script>

<style></style>
