<template>
  <div>
    <v-row v-if="isLoading">
      <div>
        <Progressbar />
      </div>
    </v-row>
    <v-card v-else>
      <v-card-text>
        <v-row>
          <!-- เลือกแทง 3 ตัว , 2 ตัว , 1 ตัว -->
          <v-col cols="12">
            <v-item-group>
              <v-row>
                <v-col
                  cols="4"
                  v-for="(item, index) in selectPackage.isplay"
                  :key="index"
                >
                  <v-item v-slot="{ active, toggle }">
                    <v-card
                      :color="active ? 'bg' : ''"
                      class="text-center mt-3"
                      v-on:click="toggle"
                      @click="selectLimit(item)"
                    >
                      {{ item.name }}
                    </v-card>
                  </v-item>
                </v-col>
              </v-row>
            </v-item-group>
          </v-col>
          <v-col cols="12">
            <v-item-group v-model="selections" multiple>
              <v-row>
                <v-col
                  cols="6"
                  v-for="(item, index) in showGameType[0]"
                  :key="item.typename"
                  class="secondary"
                >
                  <v-item v-slot:default="{ active, toggle }">
                    <v-card
                      :color="active ? 'rgba(18, 153, 72, 0.933)' : ''"
                      class="text-center mt-3 pa-0"
                      @click="onChangeTypeNumber(item)"
                      :ref="`${cardRefName}${index}`"
                      v-on:click="toggle"
                    >
                      <v-card-text v-bind:class="{ 'white--text': active }">{{
                        item.name
                      }}</v-card-text>
                    </v-card>
                  </v-item>
                </v-col>
                <!-- คี่คู่ -->
                <v-row v-if="changeTypeNumber.length && limitinput == 2">
                  <!-- แพ็คเกจเสริม -->
                  <v-col
                    id="Oddeven"
                    class="text-center"
                    v-for="button in buttonS"
                    :key="button.type"
                    :cols="button.type == 'double' ? 12 : 6"
                  >
                    <v-hover>
                      <v-card
                        class="pa-0 v-card-item"
                        @click="OaddEvent(button)"
                      >
                        <v-card-text>{{ button.name }}</v-card-text>
                      </v-card>
                    </v-hover>
                  </v-col>
                  <!-- ออกคี่คู่  -->
                </v-row>
                <!-- ตอง -->
                <v-row v-if="changeTypeNumber.length && limitinput == 3">
                  <!-- แพ็คเกจเสริม -->
                  <v-col
                    id="Oddeven"
                    class="text-center"
                    v-for="button in buttonlimi3"
                    :key="button.type"
                    :cols="12"
                  >
                    <v-hover>
                      <v-card
                        class="pa-0 v-card-item"
                        @click="OaddEvent(button)"
                      >
                        <v-card-text>{{ button.name }}</v-card-text>
                      </v-card>
                    </v-hover>
                  </v-col>
                  <!-- ออกคี่คู่  -->
                </v-row>

                <!-- ออกเลขตอง  -->
              </v-row>
            </v-item-group>
          </v-col>
          <!-- end -->
          <v-col cols="12 pl-0 pr-0">
            <div class="d-flex flex-row">
              <div class="list-huay" v-if="isNumbers.length > 0">
                <!-- list table  -->
                <span
                  class="white--text"
                  v-for="(item, index) in isNumbers"
                  :key="index"
                >
                  <v-simple-table dark>
                    <template v-slot:default>
                      <thead class="accent">
                        <tr>
                          <th colspan="2" class="text-left white--text">
                            {{ item.name }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="(number, index) in item.numbers"
                          :key="index"
                        >
                          <th>{{ index + 1 }}.</th>
                          <td>{{ number }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </span>
              </div>
              <!--  ออกโชว์รายการแทง -->

              <v-row v-if="changeTypeNumber.length > 0">
                <!-- text input -->
                <v-col :cols="12" align="center">
                  <v-card class="d-flex flex-row mb-6 justify-center" flat tile>
                    <input
                      type="number"
                      step="1"
                      maxlength="1"
                      v-for="(input, index) in limitinput"
                      :key="input"
                      :ref="`${baseRefName}${index}`"
                      v-model="code[input - 1]"
                      @focus="focusedCellIdx = index"
                      class="mr-2"
                      readonly
                    />
                  </v-card>
                </v-col>
                <!-- end input -->
                <!-- show list huay -->

                <!-- ปุ่มกด 0-9 -->
                <v-col
                  class="text-center"
                  v-for="button in buttonNumber"
                  :key="button"
                  :cols="button == 0 ? 8 : 4"
                >
                  <v-hover>
                    <v-card
                      class="pa-0 v-card-item"
                      @click="addNumber($event, button)"
                    >
                      <v-card-text>{{ button }}</v-card-text>
                    </v-card>
                  </v-hover>
                </v-col>
                <v-col :cols="4" align="center">
                  <v-hover>
                    <v-card
                      class="pa-0 v-card-item"
                      color="red"
                      @click="removeNumberInput"
                    >
                      <v-card-text style="color:#fff;">ลบ</v-card-text>
                    </v-card>
                  </v-hover>
                </v-col>
              </v-row>
              <div
                v-if="limitinput == 0"
                class="d-flex flex-row align-center justify-center"
                style="width:100%"
                block
              >
                <h2>กรุณาเลือกรูปแบบที่ต้องการบันทึก</h2>
              </div>
            </div>
          </v-col>

          <!-- โพยโปรด -->
         
          <!-- จัดการราคา -->
          <v-col cols="7" v-if="isNumbers.length > 0">
            <LottoManageFavorite :handleSubmit="handleSubmit" />
          </v-col>
          <!-- handle Show Error -->
          <div class="text-center ma-2">
            <v-snackbar top v-model="snackbar.visible" :color="snackbar.color">
              <v-icon color="white">
                {{ snackbar.icon }}
              </v-icon>
              {{ text }}
            </v-snackbar>
          </div>
          <!--  -->
        </v-row>
      </v-card-text>
      <!-- Error modal fullbet number error -->
      <ErrorNumber
        :errorMessage="errorMessage"
        :showError="showError"
        :closeShowError="closeShowError"
      />
    </v-card>
  </div>
</template>

<script>
import {
  mdiCheck,
  mdiAlertCircle,
  mdiArrowDownBoldCircle,
  mdiArrowUpBoldCircle,
} from "@mdi/js";
import { mapState } from "vuex";
import { isChecktype } from "@/api/objlotto";
import cal from "@/services/calNumber";
import LottoManageFavorite from "@/components/lottoplay/LottoManageFavorite";
import ErrorNumber from "@/components/lottoplay/ErrorNumber";
import Progressbar from "@/components/Progressbar";


export default {
  name: "lottoplay",
  components: { LottoManageFavorite, Progressbar, ErrorNumber },
  data: () => ({
    baseRefName: "inputNumber",
    cardRefName: "change",
    icons: [
      mdiCheck,
      mdiAlertCircle,
      mdiArrowDownBoldCircle,
      mdiArrowUpBoldCircle,
    ],
    code: [],
    focusedCellIdx: 0, //โฟกัสที่เท็กบ็อกตาม index
    text: "",
    buttonS: [
      { name: "สองตัวต่ำ", type: "low" },
      { name: "สองตัวสูง", type: "height" },
      { name: "สองตัวคี่", type: "odd" },
      { name: "สองตัวคู่", type: "even" },
      { name: "เลขเบิ้ล", type: "double" },
    ],
    buttonlimi3: [{ name: "เลขตอง", type: "xxx" }],
    buttonNumber: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
    showGameType: [],
    changeTypeNumber: [],
    limitinput: 0,
    selections: [],
    dialog: false,
    snackbar: {
      //โชว์ ข้อความ
      color: null,
      icon: null,
      mode: null,
      position: "top",
      text: null,
      timeout: 7500,
      title: null,
      visible: false,
    },
    errorMessage: null,
    showError: false,
  }),
  methods: {
    handlePush() {
      const x = setTimeout(() => {
        this.focusedCellIdx = 0;
        this.focusCellByIndex(0);
        this.code = [];
        clearTimeout(x);
      }, 200);
    },
    addNumber(event, value) {
      event.preventDefault();
      this.code.push(value);
      if (this.code.length == this.limitinput) {
        //ตัด , ของ array ออก นำมาแปลงเป็นสตริง
        let inputNumber = this.code.toString().replaceAll(",", ""); //ลบคอมม่า ใน array
        const fullbet = cal.isCheckfullbet(inputNumber, this.isFullbet);
        if (fullbet.length > 0) {
          //ถ้าเลขเต็ม
          this.text = `${fullbet[0].lotto_bet}หมายเลข ${fullbet[0].bet_numbers} เต็ม`;
          this.snackbarShow("error");
          this.code = [];
          return false;
        }
        this.text = `เพิ่มรายการ ${inputNumber} เรียบร้อยแล้ว`;
        this.snackbarShow("success");
        let nArray = this.isNumbers;
        this.isClearNumber(); //clear Number ใน store
        let result = cal.fnaddNumber(
          this.changeTypeNumber,
          inputNumber,
          nArray
        );
        this.handlePush();
        this.isSetNumbers(result);
      } else {
        this.focusNextCell();
      }
    },
    removeNumberInput(e) {
      e.preventDefault();
      this.focusPreviousCell();
      const ref = `${this.baseRefName}${this.focusedCellIdx}`;
      const el = this.$refs[ref][0];
      el.value = "";
      this.code.splice(this.length, 1);
    },
    onKeyDown(e) {
      if (e.target.value != "") {
        this.focusNextCell();
      } else if (e.key == "Backspace") {
        this.focusPreviousCell();
        const ref = `${this.baseRefName}${this.focusedCellIdx}`;
        const el = this.$refs[ref][0];
        el.value = "";
      }
    },
    focusPreviousCell() {
      if (!this.focusedCellIdx) return;
      this.focusCellByIndex(this.focusedCellIdx - 1);
    },
    focusNextCell() {
      if (this.focusedCellIdx === this.length - 1) return;
      this.focusCellByIndex(this.focusedCellIdx + 1);
    },
    focusCellByIndex(index = 0) {
      const ref = `${this.baseRefName}${index}`;
      const el = this.$refs[ref][0];
      el.focus();
      el.select();
      this.focusedCellIdx = index;
    },
    reset() {
      this.snackbar = !this.snackbar;
      this.code = [];
    },
    selectLimit(num) {
      //แอด ไอเทมที่เลือกตามเลข
      this.selections = []; // clear actives many list-items
      let { items, limit } = num;
      this.limitinput = limit;
      this.showGameType = [];
      this.showGameType.push(items);
      this.changeTypeNumber = [];
      this.code = [];
    },
    onChangeTypeNumber(type) {
      //เก็บ ชนิดที่ต้องแยกตามประเภทการเลือก index

      let resultIndex = this.changeTypeNumber
        .map(function(e) {
          return e.typename;
        })
        .indexOf(type.typename);
      if (resultIndex >= 0) {
        this.changeTypeNumber.splice(resultIndex, 1);
      } else {
        this.changeTypeNumber.push(type);
      }
    },
    isConvertNumber(obj, number) {
      const resultNumber = isChecktype(obj, number);
      return resultNumber;
    },
    isSetNumbers(result) {
      return this.$store.dispatch("lottoplay/addNumber", result);
    },
    isClearNumber() {
      return this.$store.dispatch("lottoplay/clearNumber");
    },
    snackbarShow(type) {
      if (!type) return;
      switch (type) {
        case "error":
          this.snackbar = {
            color: "error",
            icon: this.icons[1],
            mode: "multi-line",
            position: "top",
            timeout: 4000,
            text: this.text,
            visible: true,
          };
          break;
        case "success":
          this.snackbar = {
            color: "success",
            icon: this.icons[0],
            mode: "multi-line",
            position: "top",
            timeout: 2000,
            text: this.text,
            visible: true,
          };
          break;
        default:
          break;
      }
    },
    async handleSubmit(e) {
      //ทำการบันทึกข้อมูลของโพย
      e.preventDefault();

      const id = 10144;
      const formData = new FormData();
      formData.append("type", "createFavorite");
      formData.append("memberId", this.isUser.userId);
      formData.append("game_id", id);
      formData.append("lotto_price_id", this.selectPackage.lotto_price_id);
      formData.append("namefavorite", this.favName);
      formData.append("total", this.isTotal);
      console.log(this.isTotal)
      
      this.isNumbers.forEach((number) => {
        for (let index = 0; index < number.numberConvert.length; index++) {
          formData.append(`thrustType[]`, number.type); //ส่งชนิดที่แทง เช่น บน , ล่าง
          formData.append(`inputNumber[]`, number.numberConvert[index]); //ส่ง เลขที่แทง
          formData.append(`inputBalance[]`, number.amountConvert[index]); //ส่งราคาที่แทง
        }
      });
      //handleSubmit store
      await this.$store
        .dispatch("favorite/submitFavorite", formData)
        .then(async (res) => {
          await this.$store.dispatch("lottos/getCredit", this.isUser.userId);
          if (res.request == true) {
            /*  await this.getLottoBetBills()
                  await this.getCredit() */
            this.text = "บันทึกโพยโปรดเสร็จสิ้น";
            this.snackbarShow("success");
          } else if (res.funedit.status == null) {
            //'รับโพยบางส่วน' , มีแค่ error บางตัวเช่น เลขเต็ม หรือ ช่องที่ 1: เลข 100 แทง 3 บน สามารถรับเพิ่มได้ 2449 บาทเท่านั้น
            this.showError = !this.showError;
            this.errorMessage = res.funedit; //กรณี return กลับมาเป็น array
          } else {
            //ช่องที่ 1: 2 บน เลข 23 เต็ม  ไม่สามารถแทงได้ หรือ Error แทงเกินยอดเงิน หรือ ช่องที่ 1: เลข 100 แทง 3 บน สามารถรับเพิ่มได้ 2449 บาทเท่านั้น และ แทงเกินยอดเงินคงเหลือ
            this.text = "บันทึกโพยโปรดไม่สำเร็จ";
            this.snackbarShow("error");
            this.isUpload = false;
          }
          this.$store.dispatch("lottoplay/clearNumber");
        })
        .catch((error) => console.log(error));
    },
    closeShowError() {
      console.log("clocl");
      this.showError = !this.showError;
    },
    OaddEvent(obj) {
      let nArray = this.isNumbers;
      this.isClearNumber(); //clear Number ใน store
      const result = cal.fnaddNumber(this.changeTypeNumber, obj.type, nArray);
      this.isSetNumbers(result);
      this.text = `เพิ่มรายการ ${obj.name} เรียบร้อยแล้ว`;
      this.snackbarShow("success");
      /*  */
    },
  },
  computed: {
    ...mapState({
      packages: (state) => state.lottoplay.package,
      selectPackage: (state) => state.lottoplay.selectPackage,
      isLoading: (state) => state.lottoplay.isLoading,
    }),
    selectPackage: {
      get() {
        return this.$store.getters["lottoplay/packageSelect"];
      },
      set(select) {
        return this.$store.dispatch("lottoplay/isUpdatePackage", select);
      },
    },
    isNumbers: {
      get() {
        return this.$store.getters["lottoplay/getNumber"];
      },
    },
    favName:{
      get() {
        return this.$store.getters["favorite/getFavname"];
      },
    },
    isTotal:{
      get() {
        return this.$store.getters["lottoplay/getTotal"];
      },
    },
    isUser() {
      return this.$store.getters["auth/getUser"];
    },
    isFullbet() {
      return this.$store.getters["lottoplay/getfullNumber"];
    },
  },
  async created() {
    const group = "lotto";
    const type = "gov"; 
    const id = 10144;
    const params = { group: group, type: type, id: id };
    await this.$store.dispatch("lottoplay/getLottoPacket", params);
  },
  destroyed() {
    this.isSetNumbers([]);
  },
};
</script>

<style scoped>
.v-item--active {
  color: white;
}

.isLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 10px;
}

.v-card-item {
  cursor: pointer;
}

.list-huay {
  background-color: rgb(71, 97, 97);
  border-radius: 4px;
  height: 406px;
  margin-right: 5px;
  width: 120px;
  text-align: left;
  overflow-y: scroll;
}

.list-huay::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.list-huay::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.list-huay::-webkit-scrollbar-thumb {
  background-color: rgba(168, 14, 14, 0.562);
  border-radius: 10px;
}

.p-list {
  text-align: center;
}

.active-type {
  background: rgba(18, 153, 72, 0.933);
  color: #fff;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  padding: 0 3px;
  transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  text-align: center;
}

@media only screen and (max-width: 568px) {
  .list-huay {
    width: 300px;
  }
}

input {
  border: cornflowerblue 1px solid;
  height: 48px;
  width: 48px;
  text-align: center;
}
</style>
