<template>
  <v-row justify="center" dense>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn class="ml-1 btn__p100" color="primary" v-bind="attrs" v-on="on">
          ดึงโพย / แทงซ้ำ
        </v-btn>
      </template>
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title>โพยโปรด / แทงซ้ำ</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon dark @click="dialog = false">
              <v-icon>{{ icon.close }}</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <!--  -->
        <!--  -->
        <div v-if="isUploading">
          <progressbar />
        </div>
        <!--  -->
        <v-card color="#dfdfdf" class="ma-2">
          <v-card-title class="text-center justify-center py-6">
            <h4 class="font-weight-bold basil--text">
              โพยโปรด / แทงซ้ำ
            </h4>
          </v-card-title>

          <v-tabs
            v-model="tab"
            background-color="transparent"
            color="dark"
            grow
          >
            <v-tab v-for="item in listTab" :key="item">
              {{ item }}
            </v-tab>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item>
              <!-- ตารางโพยโปรด -->
              <v-data-table
                :headers="headers"
                :items="favorites"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                hide-default-footer
                class="elevation-1"
                @page-count="pageCount = $event"
              >
                <template v-slot:item="{ item }">
                  <tr>
                    <td>{{ item.favorite_name }}</td>
                    <td>{{ item.total_amount }}</td>
                    <td>
                      <v-btn
                        color="success"
                        block
                        @click="handleChageId(item.favorite_id)"
                        >เลือก</v-btn
                      >
                    </td>
                    <td>
                      <v-btn
                        color="error"
                        block
                        @click="handleDeleteFavorite(item.favorite_id)"
                        >ลบ</v-btn
                      >
                    </td>
                  </tr>
                </template>
              </v-data-table>
              <!-- pagination -->
              <div class="text-center pt-2">
                <v-pagination
                  v-model="page"
                  :length="pageCount"
                  :prev-icon="icons[0]"
                  :next-icon="icons[1]"
                ></v-pagination>
              </div>
              <!-- pagination -->
            </v-tab-item>
            <v-tab-item>
              <!-- stappers -->

              <!-- ตารางแทงซ้ำ -->
              <v-data-table
                :headers="headerRepreat"
                :items="tickrepeats"
                :page.sync="pager"
                :items-per-page="itemsPerPager"
                hide-default-footer
                class="elevation-1"
                @page-count="pageCountr = $event"
              >
                <template v-slot:item="{ item }">
                  <tr>
                    <td>{{ item.ticket_number }}</td>
                    <td>{{ item.lotto_type }}</td>
                    <td>{{ item.total_bet }} ฿</td>
                    <td>{{ item.create_time }} {{ item.create_date }}</td>
                    <td>
                      <v-btn
                        color="success"
                        block
                        @click="handleChageticketId(item.ticket_id)"
                        >เลือก</v-btn
                      >
                    </td>
                  </tr>
                </template>
              </v-data-table>
              <!-- pagination -->
              <div class="text-center pt-2">
                <v-pagination
                  v-model="pager"
                  :length="pageCountr"
                  :prev-icon="icons[0]"
                  :next-icon="icons[1]"
                ></v-pagination>
              </div>
              <!-- pagination -->

              <!-- stappers -->
            </v-tab-item>
          </v-tabs-items>
        </v-card>
        <v-snackbar
          top
          v-model="snackbar.visible"
          :color="snackbar.color"
          :timeout="snackbar.timeout"
        >
          <v-icon color="white">
            {{ snackbar.icon }}
          </v-icon>
          {{ text }}
        </v-snackbar>
        <!--  -->
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mdiDelete, mdiClose } from "@mdi/js";
import { mapGetters } from "vuex";
import {
  mdiChevronLeft,
  mdiChevronRight,
  mdiCheck,
  mdiAlertCircle,
} from "@mdi/js";

import isCal from "@/services/calNumber";
import Progressbar from "../Progressbar.vue";
export default {
  name: "favoriteNumber",
  components: {
    Progressbar,
  },
  data() {
    return {
      isUploading: false,
      pageRepeat: 1,
      dialog: false,
      icon: { trash: mdiDelete, close: mdiClose },
      icons: [mdiChevronLeft, mdiChevronRight, mdiCheck, mdiAlertCircle],
      tab: null,
      listTab: ["โพยโปรด", "แทงซ้ำ"],
      pager: 1,
      pageCountr: 0,
      itemsPerPager: 20,
      page: 1,
      pageCount: 0,
      itemsPerPage: 20,
      text: "",
      headers: [
        {
          text: "ชื่อโพย",
          align: "start",
          sortable: false,
          value: "favorite_name",
          width: "40%",
        },
        { text: "ราคา", value: "total_amount", sortable: false, width: "20%" },
        { text: "", value: "", sortable: false, width: "20%" },
        { text: "", value: "", sortable: false, width: "20%" },
      ],
      headerRepreat: [
        {
          text: "โพยที่",
          align: "start",
          sortable: false,
          value: "ticket_number",
          width: "1%",
        },
        {
          text: "ประเภท",
          align: "start",
          sortable: false,
          value: "lotto_type",
          width: "1%",
        },
        { text: "ราคา", value: "total_bet", sortable: false, width: "1%" },
        {
          text: "สร้างเมื่อ",
          value: "create_date",
          sortable: false,
          width: "1%",
        },
        { text: "", value: "", sortable: false, width: "1%" },
      ],
      snackbar: {
        //โชว์ ข้อความ
        color: null,
        icon: null,
        mode: null,
        position: "top",
        text: null,
        timeout: 3000,
        title: null,
        visible: false,
      },
    };
  },
  computed: {
    ...mapGetters({
      isUser: "auth/getUser",
      favorites: "lottoplay/getFavorite",
      favoriteDetails: "lottoplay/getFavoriteDetails",
      isNumbers: "lottoplay/getNumber",
      tickrepeats: "lottoplay/getTicketRepeats",
      ticketrepeatDetails: "lottoplay/getTicketRepeatsDetails",
      packageSelect: "lottoplay/packageSelect",
    }),
  },
  methods: {
    async handleChageId(id) {
      this.isUploading = !this.isUploading;
      await this.$store
        .dispatch("lottoplay/getFavoritewithId", id)
        .then(async (res) => {
          if (res) {
            const nNumbers = this.isNumbers;
            this.isClearNumber();
            const resultCal = await isCal.convertFavorite(
              this.favoriteDetails,
              nNumbers,
              this.packageSelect.isplay
            );
            this.isUploading = !this.isUploading;
            this.isSetNumbers(resultCal);
            this.dialog = false;
          }
        })
        .catch((err) => console.log(err));
    },
    async handleChageticketId(id) {
      this.isUploading = !this.isUploading;
      const payload = {
        userId: this.isUser.userId,
        gameId: this.$route.params.id,
        ticketId: id,
      };
      await this.$store
        .dispatch("lottoplay/getTicketRepeatwithId", payload)
        .then(async (res) => {
          if (res) {
            const nNumbers = this.isNumbers;
            this.isClearNumber();
            const resultCal = await isCal.convertFavorite(
              this.ticketrepeatDetails,
              nNumbers,
              this.packageSelect.isplay
            );
            this.isUploading = !this.isUploading;
            this.isSetNumbers(resultCal);
            this.dialog = false;
          }
        })
        .catch((err) => console.log(err));
    },
    async handleDeleteFavorite(id) {
      this.isUploading = !this.isUploading;
      await this.$store
        .dispatch("lottoplay/getDeleteFavorite", id)
        .then(async (res) => {
          const id = this.$route.params.id;
          const payload = { userId: this.isUser.userId, gameId: id };
          if (res == true) {
            await this.$store.dispatch("lottoplay/getFavorite", payload);
            this.isUploading = !this.isUploading;
            this.text = "ลบโพยโปรดเรียบร้อย";
            this.snackbarShow("success");
          } else {
            this.isUploading = !this.isUploading;
            this.text = "ลบโพยโปรดล้มเหลว";
            this.snackbarShow("error");
          }
        })
        .catch((err) => console.log(err));
    },
    isSetNumbers(result) {
      return this.$store.dispatch("lottoplay/addNumber", result);
    },
    isClearNumber() {
      return this.$store.dispatch("lottoplay/clearNumber");
    },
    snackbarShow(type) {
      if (!type) return;
      switch (type) {
        case "error":
          this.snackbar = {
            color: "error",
            icon: this.icons[3],
            mode: "multi-line",
            position: "top",
            timeout: 4000,
            text: this.text,
            visible: true,
          };
          break;
        case "success":
          this.snackbar = {
            color: "success",
            icon: this.icons[2],
            mode: "multi-line",
            position: "top",
            timeout: 2000,
            text: this.text,
            visible: true,
          };
          break;
        default:
          break;
      }
    },
  },
  async created() {
    const id = this.$route.params.id;
    const payload = { userId: this.isUser.userId, gameId: id };
    await this.$store.dispatch("lottoplay/getFavorite", payload);
  },
};
</script>
<style lang="scss" scoped>
.isLoading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
}
.btn__p100 {
  width: 100%;
}

table,
th,
td {
  padding: 0px;
}
</style>
