<template>
  <v-row justify="center" dense>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="success" dark v-bind="attrs" v-on="on" block>
          ใส่ราคาแทง
        </v-btn>
      </template>
      <v-card>
        <div v-if="isUploading">
          <Progressbar />
        </div>

        <v-toolbar dark color="primary">
          <v-toolbar-title>จัดการหวย</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="dialog = false">
            <v-icon>{{ icon.close }}</v-icon>
          </v-btn>
        </v-toolbar>
        <v-list three-line subheader>
          <v-list-item>
            <v-list-item-content>
              <!-- change package -->
              <div>
                <v-text-field
                  label="ชื่อรายการโพยโปรด"
                  :rules="rules"
                  v-model="favName"
                  @input="createfavName(favName)"
                  hide-details="auto"
                ></v-text-field>
              </div>
              <!--  -->
              <div v-for="(object, index) in isNumber" :key="index">
                <v-row no-gutters>
                  <v-col cols="3" sm="6">
                    <v-list-item-title>{{ object.name }}</v-list-item-title>
                  </v-col>
                  <v-col cols="9" sm="6">
                    <v-list-item-title class="text-right"
                      >อัตราจ่าย ({{ object.payrate }})</v-list-item-title
                    >
                  </v-col>
                </v-row>

                <div
                  class="d-flex flex-row align-center input-group mb-2"
                  v-for="(number, i) in object.numbers"
                  :key="i"
                >
                  <!--  <span class="ranking-number flex-grow-0 flex-shrink-0"
                    >{{ i + 1 }}.</span
                  > -->
                  <span class="text-number flex-grow-0 flex-shrink-0">{{
                    number
                  }}</span>
                  <input
                    type="number"
                    maxlength="7"
                    :value="object.prices[i]"
                    @input="
                      updatePrice(
                        Number($event.target.value),
                        object.code,
                        object.look,
                        i
                      )
                    "
                  />
                  <div class="win-rate flex-grow-0 flex-shrink-0">
                    ชนะ
                    {{ addComma(parseInt(object.prices[i]) * object.payrate) }}
                    ฿
                  </div>
                  <v-btn
                    class="btn-trash flex-grow-0 flex-shrink-0"
                    color="red"
                    @click="isDeleteNumber($event, object.code, i)"
                  >
                    <v-icon color="white">{{ icon.trash }}</v-icon>
                  </v-btn>
                </div>
              </div>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
        <v-list three-line subheader>
          <!-- เดิมพันราคาเท่ากัน -->
          <section>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>เดิมพันราคาเท่ากัน</v-list-item-title>
                <!-- flex input -->
                <div class="d-flex flex-row">
                  <v-text-field
                    type="number"
                    v-model="allprices"
                    solo
                  ></v-text-field>
                  <v-btn
                    depressed
                    color="primary"
                    height="48"
                    @click="addPricesAll($event, Number(allprices))"
                  >
                    ตกลง
                  </v-btn>
                </div>
                <!-- flex button input money  -->
                <div class="d-flex flex-row">
                  <v-btn
                    class="mr-2 btn-money"
                    small
                    @click="addPricesAll($event, 5)"
                  >
                    5 ฿
                  </v-btn>
                  <v-btn
                    class="mr-2 btn-money"
                    small
                    @click="addPricesAll($event, 10)"
                  >
                    10 ฿
                  </v-btn>
                  <v-btn
                    class="mr-2 btn-money"
                    small
                    @click="addPricesAll($event, 20)"
                  >
                    20 ฿
                  </v-btn>
                  <v-btn
                    class="mr-2 btn-money"
                    small
                    @click="addPricesAll($event, 50)"
                  >
                    50 ฿
                  </v-btn>
                  <v-btn
                    class="mr-2 btn-money"
                    small
                    @click="addPricesAll($event, 100)"
                  >
                    100 ฿
                  </v-btn>
                </div>
              </v-list-item-content>
            </v-list-item>
          </section>
          <!-- ยืนยันการส่งโพย -->
          <section class="box__confirm">
            <v-list-item>
              <v-list-item-content>
                <!-- <h4>
                  เครดิตคงเหลือ <span>{{ addComma(0) }} ฿</span>
                </h4> -->
                <h4 class="text-danger">
                  ยอดเดิมพันทั้งหมด :
                  <span>{{ addComma(total.toFixed(2)) }} ฿</span>
                </h4>
                <!-- <h4 class="text-discount">
                  ส่วนลดทั้งหมด :
                  <span>{{ addComma(discount.toFixed(2)) }} ฿</span>
                </h4> -->
                <!-- <h4 class="text-danger">
                  ยอดที่ต้องชำระ :
                  <span>{{ addComma(totalAll.toFixed(2)) }} ฿</span>
                </h4> -->
                <v-row class="mt-5">
                  <v-col cols="4">
                    <v-btn color="secondary" block @click="isAlertComfirm"
                      >ล้างข้อมูล</v-btn
                    >
                  </v-col>
                  <v-col cols="8">
                    <v-btn
                      color="success"
                      v-if="favName != ''"
                      block
                      @click="handleSubmit"
                      >บันทึกโพยโปรด</v-btn
                    >
                  </v-col>
                </v-row>
              </v-list-item-content>
            </v-list-item>
          </section>
          <!-- จบ ยืนยันการส่งโพย -->
        </v-list>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { mdiDelete, mdiClose } from "@mdi/js";
import { mapGetters } from "vuex";
import Progressbar from "@/components/Progressbar";

export default {
  name: "lottomanagefavorite",
  components: {
    Progressbar,
  },
  props: ["handleSubmit"],
  data() {
    return {
      rules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters",
        (value) => (value && value.length <= 15) || "Max 15 characters",
      ],
      favName: "",
      dialog: false,
      icon: { trash: mdiDelete, close: mdiClose },
      allprices: 0,
    };
  },
  methods: {
    isclearNumber() {
      return this.$store.dispatch("lottoplay/clearNumber");
    },
    isAlertComfirm() {
      this.$swal({
        icon: "info",
        text: "ลบชุดตัวเลขที่คุณได้เลือกไว้ทั้งหมด",
        showCancelButton: true,
        confirmButtonText: "ตกลง",
        cancelButtonText: "ยกเลิก",
        showCloseButton: true,
        allowOutsideClick: false,
      }).then((result) => {
        if (result.value) {
          this.isclearNumber();
          this.dialog = !this.dialog;
        } else {
          return;
        }
      });
    },
    isDeleteNumber(event, item, index) {
      event.preventDefault();
      const payload = { code: item, position: index };
      return this.$store.dispatch("lottoplay/deleteNumber", payload);
    },
    addPricesAll(event, price) {
      event.preventDefault();
      if (price != 0) this.allprices = price;
      if (this.allprices <= 0) return alert("กรุณากรอกจำนวนเงินที่มากกว่า 0");
      return this.$store.dispatch("lottoplay/addPricesAll", this.allprices);
    },
    updatePrice(price, code, look, index) {
      const payload = {
        code: code,
        price: price,
        look: look,
        position: index,
      };
      this.$forceUpdate();
      return this.$store.dispatch("lottoplay/addPriceIndex", payload);
    },
    createfavName(name) {
      return this.$store.dispatch("favorite/addFavname", name);
    },
    addComma(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
  },
  computed: {
    ...mapGetters({
      packages: "lottoplay/getPackages",
      isNumber: "lottoplay/getNumber",
      total: "lottoplay/getTotal",
      discount: "lottoplay/getTotalDiscount",
      totalAll: "lottoplay/getTotalAll",
      isUploading: "lottoplay/getisUpLoading",
    }),
  },
};
</script>
<style scoped>
.isLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
}
.input-group {
  height: 40px;
}
.input-group-append {
  height: 40px;
  border: 2px solid red;
}
input {
  height: 40px;
  align-self: center;
  padding: 10px;
  border-radius: 0;
  outline: none;
  border-top: 1px solid #b9b1b1;
  border-bottom: 1px solid #b9b1b1;
}

.ranking-number {
  margin-right: 5px;
  height: 40px;
  padding: 10px;
}
.text-number {
  background: #3b5898;
  color: white;
  height: 40px;
  padding: 10px;
}
.win-rate {
  background: #fff;
  color: #000;
  height: 40px;
  padding: 10px 15px;
  border-left: 1px solid #b9b1b1;
  border-top: 1px solid #b9b1b1;
  border-bottom: 1px solid #b9b1b1;
  text-align: center;
}
.btn-trash {
  margin: 0;
  height: 40px;
}

.btn-money {
  margin: 0px 6px 6px 6px;
  letter-spacing: normal;
  color: #3b5898;
  border-radius: 18px;
  background-color: #fff;
  display: block;
  float: left;
  line-height: 30px;
  cursor: pointer;
  outline: none !important;
  -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 17%);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 17%);
  border: solid 2px #3b5898;
}

.popup__item-lists .box__confirm h4 {
  line-height: 23px;
  padding: 0px 0px 20px 0px;
  font-size: 16px;
}

.text-danger {
  color: #ba2929 !important;
}

.text-discount {
  color: #29ba29 !important;
}

@media only screen and (max-width: 576px) {
  .btn-money {
    width: 24px;
  }
}
</style>
