<template>
  <layout-default>
    <div v-if="isLoading">
      <Progressbar />
    </div>
    <!-- หวยรัฐบาล -->
    <div v-else>
      <Govs :dateTh="dateTh" />
      <Stock :dateTh="dateTh" />
      <LoasVianam :dateTh="dateTh" />
      <Pingpong :dateTh="dateTh" />
    </div>
    <!-- ออก หวยรัฐ -->
  </layout-default>
</template>
<script>
import LayoutDefault from "@/layouts/LayoutDefault";
import { mapGetters } from "vuex";
import Govs from "../components/award/govs.vue";
import Stock from "../components/award/stocks.vue";
import LoasVianam from "../components/award/loadsandvianam.vue";
import Pingpong from "../components/award/pingpong.vue";
import Progressbar from "@/components/Progressbar";

export default {
  name: "Awardresult",
  components: {
    LayoutDefault,
    Progressbar,
    Govs,
    Stock,
    LoasVianam,
    Pingpong,
  },
  computed: {
    ...mapGetters({
      isLoading: "award/isLoading",
    }),
  },
  methods: {
    dateTh(val) {
      const date = new Date(val);
      const result = date.toLocaleDateString("th-TH", {
        year: "numeric",
        month: "long",
        day: "numeric",
      });
      return result;
    },
  },
  async created() {
    await this.$store.dispatch("award/lottoResults");
  },
};
</script>
