<template lang="">
  <LayoutDefault>
    <v-container>
      <v-card class="text-center">
        <h1 class="purple darken-3 white--text">ติดต่อทีมงาน</h1>
      </v-card>
      <v-card class="text-center justify-center" href="https://lin.ee/dj15Pxe">
        <v-card-text class="text-center justify-center">
          <v-img
            class="justify-center"
            :src="require(`@/assets/qr/L.png`)"
          ></v-img>
        </v-card-text>
      </v-card>
      <v-row>
        <v-col class="text-center mt-8" cols="12">
          <v-btn class="white--text purple darken-3" width="100%" to="/home">
            ย้อนกลับ
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </LayoutDefault>
</template>
<script>
import LayoutDefault from "@/layouts/LayoutDefault";
export default {
  name: "'contact",
  components: { LayoutDefault },
};
</script>
<style lang=""></style>
