<template lang="th">
<LayoutDefault>
    <v-container>
      <v-snackbar
      :timeout="2000"
      v-model="alert"
      :color="color"
      :top="true"
      dark
      >{{ alertText }}</v-snackbar
    >
        <v-card>
            <v-card-text class="font-weight-bold text-h5 yellow accent-4">แจ้งเติมเครดิต</v-card-text>
        </v-card>
        <v-card>
            <v-card-text class="text-subtitle-1 font-weight-bold accent-4 p-1">
                จำนวนเงิน:
                <input style="font-size:14px;" class="amount" placeholder="จำนวนเงินที่ต้องการฝาก ฝากขั้นต่ำ 10 บาท" type="number" pattern="[0-9].{5,5}" min="10" v-model="amount" aria-label="amount" required readonly/>
            </v-card-text>
        </v-card>
        <v-row class="mt-4">
            <v-col class="text-center lh" height="2em" v-for="num in numbers" :key="num" :cols="num == 0 ? 8 : 4">
                <v-card height="2em" @click="addAmountValue(num)">
                    {{num}}
                </v-card>
            </v-col>
        </v-row>
        <depositDialog />
        <v-card class="mt-4" v-for="(item, index) in form" :key="index">
          <v-card-text :class="returnColor(item.request_status)">
              <span class="text-subtitle-1 font-weight-bold white--text">สถานะ: </span>
              <span class="float-right text-subtitle-1 font-weight-bold white--text">{{returnText(item.request_status)}}</span>
          </v-card-text>
          <v-card-text class="pa-1 text-center">
            <v-card>
              <v-card-text class="pa-2 py-1 text-center">
                <v-row>
                  <v-col cols="6">
                    <p class="mb-0">วันที่</p>
                    <p class="mb-0">{{item.deposit_date}}</p>
                  </v-col>
                  <v-col cols="6">
                    <p class="mb-0">วันที่ฝาก</p>
                    <p class="mb-0">{{item.request_date}}</p>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
            <v-row class="mt-1">
              <v-col class="py-1" cols="6">
                <h3>บัญชี</h3>
                <p>{{item.bank}}</p>
              </v-col>
              <v-col class="py-1" cols="6">
                <h3>จำนวนเงิน</h3>
                <p class="text-h5">{{item.amount}}</p>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="pa-4" cols="12">
                <span class="rounded-lg pa-2 text-body-1 red white--text" v-if="item.request_status == 'งานใหม่'" @click="cancelDeposit(item.request_id)">ลบรายการ</span>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
    </v-container>
      
</LayoutDefault>
</template>

<script>
import LayoutDefault from "@/layouts/LayoutDefault";
import depositDialog from "@/components/deposit/depositDialog";
import { depositForm, cancelDeposit } from "@/api/deposit";
import store from "@/store";
import { mapState } from "vuex";
export default {
  name: "Deposit",
  components: {
    LayoutDefault,
    depositDialog,
  },
  store,
  data: () => ({
    object: [],
    numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, "DELETE"],
    amount: "",
    form: [],
    alert: false, // set snackbar Show/Hide
    alertText: "", // text in snackbar
    color: "",
  }),
  computed: {
    ...mapState({
      amounts: (state) => state.deposit.amounts,
    }),
    isUser() {
      return this.$store.getters["auth/getUser"];
    },
  },
  methods: {
    returnText(status) {
      if (status == "งานใหม่") {
        return "รอยืนยัน";
      } else if (status == "ลบ") {
        return "ยกเลิก";
      } else {
        return "สำเร็จ";
      }
    },
    returnColor(status) {
      if (status == "งานใหม่") {
        return "blue";
      } else if (status == "ลบ") {
        return "red";
      } else {
        return "green";
      }
    },
    addAmountValue: function(arg) {
      if (this.amount.length == 0 && arg == 0) {
        return "";
      } else {
        if (arg != "DELETE") {
          this.amount += arg;
        } else {
          this.amount = this.amount.substring(0, this.amount.length - 1);
        }
        this.$store.commit("deposit/setAmount", this.amount);
        // console.log(this.amount);
      }
    },
    async cancelDeposit(requestId) {
      console.log(
        this.isUser.userId,
        requestId,
        this.isUser.userName,
        "cancel LOG"
      );
      const cancel = await cancelDeposit(
        this.isUser.userId,
        requestId,
        this.isUser.userName
      );
      console.log(cancel);
      this.color = "green";
      this.alertText = "ลบรายการสำเร็จ";
      this.alert = true;
      setTimeout(() => this.$router.go(), 1000);
    },
  },
  async created() {
    // console.log(this.isUser);
    this.form = await depositForm(this.isUser.userId);
    // console.log(this.form);
  },
};
</script>

<style lang="css">
.amount,
.amount:focus {
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid rgb(66, 65, 65);
}

.lh {
  line-height: 2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  width: 100%;
}
</style>
