<template>
  <LayoutDefault>
    <!--  <p>{{ JSON.stringify(fullpredicts) }}</p> -->
    <FavoriteTicket />
  </LayoutDefault>
</template>

<script>
import LayoutDefault from "@/layouts/LayoutDefault";
import FavoriteTicket from "@/components/lottoplay/FavoriteTicket";
export default {
  name: "favorite",
  components: {
    LayoutDefault,
    FavoriteTicket,
  },
};
</script>
