<template>
  <LayoutDefault>
    <v-row>
      <v-col class="text-center" sm="12" cols="12">
        <v-card class="pa-2 rounded" outlined tile color="#d1a005">
          <v-card-text style="font-size:18px; color:#fff;">
            <div class="d-flex justify-center  align-center">
              <p style="font-size:16px;">กระเป๋าตัง</p>
            </div>
            <div class="d-flex justify-center align-center">
              <p style="font-size:34px;">฿ {{ addComma(credit.credit) }}</p>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <!-- ฝาก - ถอน -->
      <v-col class="col-md-6 col-sm-6 text-center" sm="6" cols="6">
        <router-link to="/deposit">
          <v-card class="pa-2 rounded-lg" outlined tile color="#35bb47">
            <v-card-text style="font-size:18px; color:#fff;"
              >ฝากเงิน</v-card-text
            >
          </v-card>
        </router-link>
      </v-col>
      <v-col class="col-md-6 col-sm-6 text-center" sm="6" cols="6">
        <router-link to="/withdraw">
          <v-card class="pa-2 rounded-lg" outlined tile disabled>
            <v-card-text style="font-size:18px; color:#000;"
              >ถอนเงิน</v-card-text
            >
          </v-card>
        </router-link>
      </v-col>
      <!--  -->
      <v-col class="text-center" cols="6">
        <router-link to="/lottery">
          <v-hover v-slot="{ hover }" disabled>
            <v-card
              :elevation="hover ? 12 : 2"
              :class="{ 'on-hover': hover }"
              class="pa-2 rounded"
              outlined
              tile
            >
              <v-icon size="42">
                {{ icon.lottery }}
              </v-icon>
              <v-card-text>แทงหวย</v-card-text>
            </v-card>
          </v-hover>
        </router-link>
      </v-col>
      <v-col class="text-center" cols="6">
        <router-link to="/pingpong">
          <v-hover v-slot="{ hover }" disabled>
            <v-card
              :elevation="hover ? 12 : 2"
              :class="{ 'on-hover': hover }"
              class="pa-2 rounded"
              outlined
              tile
            >
              <v-icon size="42">
                {{ icon.pingpong }}
              </v-icon>
              <v-card-text>ยิงปิงปอง</v-card-text>
            </v-card>
          </v-hover>
        </router-link>
      </v-col>
      <!-- การเงิน - รายการโพย transaction -->
      <v-col class="text-center" cols="6">
        <router-link to="/lottoview">
          <v-hover v-slot="{ hover }" disabled>
            <v-card
              :elevation="hover ? 12 : 2"
              :class="{ 'on-hover': hover }"
              class="pa-2 rounded"
              outlined
              tile
            >
              <v-icon size="42">
                {{ icon.poe }}
              </v-icon>
              <v-card-text>รายการโพย</v-card-text>
            </v-card>
          </v-hover>
        </router-link>
      </v-col>
      <v-col class="text-center" cols="6">
        <router-link to="/transection">
          <v-hover v-slot="{ hover }" disabled>
            <v-card
              :elevation="hover ? 12 : 2"
              :class="{ 'on-hover': hover }"
              class="pa-2 rounded"
              outlined
              tile
            >
              <v-icon size="42">
                {{ icon.transaction }}
              </v-icon>
              <v-card-text>การเงิน</v-card-text>
            </v-card>
          </v-hover>
        </router-link>
      </v-col>
      <!--  -->
      <!-- <v-col
        class="col-md-6 col-sm-6 text-center"
        v-for="icon in icons"
        :key="icon.name"
        sm="6"
        cols="6"
      >
        <router-link :to="icon.path">
          <v-hover v-slot="{ hover }" disabled>
            <v-card
              :elevation="hover ? 12 : 2"
              :class="{ 'on-hover': hover }"
              class="pa-2 rounded"
              outlined
              tile
            >
              <v-icon size="42">
                {{ icon.icon }}
              </v-icon>
              <v-card-text>{{ icon.name }}</v-card-text>
            </v-card>
          </v-hover>
        </router-link>
      </v-col> -->
      <!-- ผลรายวาง  -->
      <v-col class="text-center" cols="12">
        <router-link to="/award">
          <v-hover v-slot="{ hover }" disabled>
            <v-card
              :elevation="hover ? 12 : 2"
              :class="{ 'on-hover': hover }"
              class="pa-2 rounded"
              outlined
              tile
            >
              <v-icon size="42">
                {{ icon.award }}
              </v-icon>
              <v-card-text>ผลรางวัล</v-card-text>
            </v-card>
          </v-hover>
        </router-link>
      </v-col>
      <!--  -->
    </v-row>
  </LayoutDefault>
</template>
<script>
import LayoutDefault from "@/layouts/LayoutDefault";
import {
  mdiBullseye,
  mdiTarget,
  mdiMessageBulleted,
  mdiFileChart,
  mdiTableStar,
  mdiSeal,
  mdiClipboardList,
} from "@mdi/js";
import { mapState } from "vuex";
import cal from "@/services/calNumber";
export default {
  name: "home",
  components: {
    LayoutDefault,
  },
  data: () => ({
    icon: {
      pingpong: mdiTarget,
      transaction: mdiFileChart,
      poe: mdiClipboardList,
      award: mdiSeal,
      lottery: mdiBullseye,
    },
    icons: [
      {
        name: "แทงหวย",
        icon: mdiBullseye,
        path: "/lottery",
      },
      {
        name: "ยิงปิงปอง",
        icon: mdiTarget,
        path: "/pingpong",
      },
      {
        name: "รายการโพยหวย",
        icon: mdiBullseye,
        path: "/lottoview",
      },
      {
        name: "ประวัติทางการเงิน",
        icon: mdiTarget,
        path: "/transection",
      },
      {
        name: "เพิ่มโพยโปรด",
        icon: mdiTableStar,
        path: "/favorite/create",
      },
      {
        name: "ข้อมูลบัญชี",
        icon: mdiFileChart,
        path: "/profile",
      },
      {
        name: "ติดต่อผู้ดูแล",
        icon: mdiMessageBulleted,
        path: "/contact",
      },
      {
        name: "ผลรางวัล",
        icon: mdiMessageBulleted,
        path: "/award",
      },
    ],
    padless: false,
    variant: "default",
    email: "",
    userId: "",
    pictureUrl: "",
    displayName: "",
    statusMessage: "",
  }),
  computed: mapState({
    lottos: (state) => state.lottos.lottos,
    credit: (state) => state.lottos.credit,
  }),
  methods: {
    addComma(value) {
      return cal.addComma(parseFloat(value).toFixed(2));
    },
  },
};
</script>
