<template lang="">
  <LayoutDefault>
    <v-snackbar
      :timeout="1000"
      v-model="alert"
      :color="color"
      :top="true"
      dark
      >{{ alertText }}</v-snackbar
    >
    <div v-if="isLoading">
      <Progressbar />
    </div>

    <v-container>
      <!-- DatePicket -->
      <v-row no-gutters>
        <v-col>
          <v-card :class="'pa-2 rounded-l-lg'" :color="'#350258'" tile>
            <v-menu
              v-model="menu1"
              :close-on-content-click="false"
              :nudge-right="50"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dateStart"
                  label="วันที่เริ่มต้น"
                  :class="'mr-5'"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  dark
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="dateStart"
                @input="menu1 = false"
                :max="dateEnd"
              ></v-date-picker>
            </v-menu>
          </v-card>
        </v-col>
        <v-col>
          <v-card :class="'pa-2 rounded-r-lg'" :color="'#350258'" tile>
            <v-menu
              v-model="menu2"
              :close-on-content-click="false"
              :nudge-left="150"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dateEnd"
                  label="วันที่สิ้นสุด"
                  prepend-icon="mdi-calendar"
                  readonly
                  :class="'mr-5'"
                  v-bind="attrs"
                  v-on="on"
                  dark
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="dateEnd"
                @input="menu2 = false"
                :min="dateStart"
              ></v-date-picker>
            </v-menu>
          </v-card>
        </v-col>
      </v-row>
      <v-btn
        block
        depressed
        color="primary"
        :class="'mt-2'"
        @click="findMyTicket()"
      >
        ค้นหา
      </v-btn>
      <!-- DatePicket -->
      <v-card
        class="mx-auto mt-3"
        max-width="344"
        v-for="(lottoview, idx) in isLottoview"
        :key="idx"
        outlined
      >
        <v-list-item three-line>
          <v-list-item-content>
            <div class="overline mb-4">
              {{ convertDate(lottoview.create_date) }}
              {{ convertTime(lottoview.create_date) }}
            </div>
            <v-list-item-title class="headline mb-1">
              <strong>{{ lottoview.result.before.lotto_type }}</strong>
            </v-list-item-title>
            <v-list-item-subtitle
              >{{ lottoview.total_bet }} บาท</v-list-item-subtitle
            >
          </v-list-item-content>

          <v-list-item-avatar
            v-if="lottoview.result.after != null"
            class="white--text"
            elevation="2"
            tile
            size="80"
            color="primary"
          >
            {{ lottoview.result.after }}
          </v-list-item-avatar>
          <v-list-item-avatar v-else tile elevation="2" size="80" color="grey">
            รอผลรางวัล
          </v-list-item-avatar>
        </v-list-item>

        <v-row no-gutters>
          <template>
            <v-col class="pa-2">
              <v-btn
                v-if="lottoview.ticket_status == -1"
                @click="openDetail(lottoview.ticket_id)"
                color="error"
              >
                <v-icon small>{{ icons.mdiMagnify }}</v-icon>
                คืนโพยแล้ว
              </v-btn>
              <!-- {{ checkStatus(lottoview.result.before.game_date,lottoview.result.before.close_time) }} -->
              <v-btn
                class="white--text"
                @click="openDetail(lottoview.ticket_id)"
                v-else-if="
                  checkStatus(
                    lottoview.result.before.game_date,
                    lottoview.result.before.close_time
                  )
                "
                :style="
                  lottoview.payamount.total != null &&
                  lottoview.payamount.total > 0.0
                    ? { 'background-color': '#4caf4f' }
                    : { 'background-color': '#fb8c00' }
                "
              >
                <v-icon small>{{ icons.mdiMagnify }}</v-icon>
                {{
                  lottoview.payamount.total != null &&
                  lottoview.payamount.total > 0.0
                    ? `ถูกรางวัล`
                    : "ไม่ถูกรางวัล"
                }}
              </v-btn>
              <v-btn
                v-else
                color="warning"
                @click="openDetail(lottoview.ticket_id)"
              >
                <v-icon small>{{ icons.mdiMagnify }}</v-icon>
                รอผลออก
              </v-btn>
            </v-col>
          </template>
          <template>
            <v-col class="pa-2 text-right">
              <v-btn
                v-if="
                  !checkStatus(
                    lottoview.result.before.game_date,
                    lottoview.result.before.close_time
                  ) && lottoview.ticket_status != -1
                "
                class="align-right"
                @click="rejectTicket(lottoview.ticket_id)"
                color="error"
                >คืนโพย
              </v-btn>
            </v-col>
          </template>
        </v-row>
      </v-card>
    </v-container>
    <DialogLottoDetail
      :setToggle="openDetail"
      :pay="pay"
      :detail="detail"
      :toggle="toggle"
    />
  </LayoutDefault>
</template>

<script>
import DialogLottoDetail from "@/layouts/DialogLottoDetail";
import LayoutDefault from "@/layouts/LayoutDefault";
import cal from "@/services/calNumber";
import dayjs from "dayjs";
import { mdiMagnify } from "@mdi/js";
import Progressbar from "@/components/Progressbar";

export default {
  name: "LottoView",
  components: {
    LayoutDefault,
    Progressbar,
    DialogLottoDetail,
  },
  data: () => {
    return {
      numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, "DELETE"],
      amount: "",
      sheet: false,
      icons: {
        mdiMagnify,
      },
      alert: false, // set snackbar Show/Hide
      alertText: "ยกเลิกโพยเรียบร้อย", // text in snackbar
      color: "",
      note: "",
      start: null,
      end: null,
      detail: null,
      toggle: false,
      dateStart: dayjs()
        .subtract(1, "days")
        .format("YYYY-MM-DD"),
      dateEnd: dayjs().format("YYYY-MM-DD"),
      pay: {
        total: null,
      },
      menu: false,
      modal: false,
      menu1: false,
      menu2: false,
    };
  },

  methods: {
    setAlert() {
      this.alert = true;
    },
    demo() {
      const ref = this.$refs.pressnum;
      ref.focus();
      console.log(ref);
    },
    async openDetail(id) {
      const data = {
        id: id,
        userId: this.isUser.userId,
      };

      await this.$store.dispatch("lottoview/getAllPayment", data);
      await this.$store.dispatch("lottoview/getLottoDetail", data);

      this.pay = this.isPay;
      this.detail = this.isLottoDetail;
      this.toggle = !this.toggle;
    },

    convertTime(time) {
      return dayjs(time).format("HH:mm:ss");
    },
    convertDate(date) {
      return dayjs(date).format("DD/MM/YYYY");
    },
    checkStatus(date, time) {
      const nowDate = dayjs().format("YYYY-MM-DD");
      const nowTime = dayjs().format("HH:mm:ss");

      if (nowDate < date) {
        return false;
      } else if (nowDate == date && nowTime < time) {
        return false;
      } else {
        return true;
      }
    },
    async rejectTicket(id) {
      const data = {
        id: id,
        userId: this.isUser.userId,
      };
      await this.$store.dispatch("lottoview/getRejectTicket", data);
      // console.log(this.isLottoReject); //true
      if (this.isLottoReject) {
        this.color = "green";
        this.alertText = "ยกเลิกโพยเรียบร้อย";
        this.setAlert();
        await this.refreshHistory();
        await this.getCredit();
      }
    },
    async findMyTicket() {
      const date = {
        userId: this.isUser.userId,
        start: this.dateStart,
        end: this.dateEnd,
      };
      await this.$store.dispatch("lottoview/getTicketHistory", date);
    },
    async getCredit() {
      return this.$store.dispatch("lottos/credit", this.isUser.userId);
    },
    async refreshHistory() {
      const date = {
        userId: this.isUser.userId,
        start: dayjs()
          .subtract(1, "days")
          .format("YYYY-MM-DD HH:mm:ss"),
        end: dayjs().format("YYYY-MM-DD HH:mm:ss"),
      };
      await this.$store.dispatch("lottoview/getTicketHistory", date);
    },
    pressnum() {
      alert("test");
      //this.$refs.pressnum.focus();
    },
    addComma(value) {
      return cal.addComma(parseFloat(value));
    },
  },
  computed: {
    date() {
      return this.$store.getters["lottos/credit"];
    },
    isPay() {
      return this.$store.getters["lottoview/isPay"];
    },
    isCredit() {
      return this.$store.getters["lottos/credit"];
    },
    isUser() {
      return this.$store.getters["auth/getUser"];
    },
    isLottoview() {
      return this.$store.getters["lottoview/isLottoview"];
    },
    isLottoReject() {
      return this.$store.getters["lottoview/isLottoReject"];
    },
    isLottoDetail() {
      return this.$store.getters["lottoview/isLottoDetail"];
    },
    isLoading() {
      return this.$store.getters["lottoview/isLoading"];
    },
  },
  beforeCreate() {},
  async created() {
    const date = {
      userId: this.isUser.userId,
      start: dayjs()
        .subtract(1, "days")
        .format("YYYY-MM-DD HH:mm:ss"),
      end: dayjs().format("YYYY-MM-DD HH:mm:ss"),
    };
    await this.$store.dispatch("lottoview/getTicketHistory", date);
    await this.$store.dispatch("lottos/getCredit", this.isUser.userId);
    console.log(this.isLottoview);
  },
};
</script>

<style scope>
.custom-placeholer-color input::placeholder {
  color: red !important;
  opacity: 1;
}

.custom-label-color .v-label {
  color: red;
  opacity: 1;
  font-size: 1em;
}

.custom-placeholer-color input,
.custom-label-color input {
  color: #000 !important;
}
</style>
