<template>
  <LayoutDefault>
    <!--  <p>{{ JSON.stringify(fullpredicts) }}</p> -->
    <PressNumber />
  </LayoutDefault>
</template>
<script>
import LayoutDefault from "@/layouts/LayoutDefault";
import PressNumber from "@/components/lottoplay/PressNumber";
export default {
  name: "lottoplay",
  components: {
    LayoutDefault,
    PressNumber,
  },
};
</script>
