<template>
  <LayoutDefault>
    <div v-if="isLoading">
      <Progressbar />
    </div>
    <v-row v-else>
      <v-col
        class="col-md-12 col-sm-12 text-center"
        sm="12"
        cols="12"
        v-for="lotto in lottos"
        :key="lotto.id"
      >
        <v-card class="text-dark  " tile>
          <v-card-title elevation="2">
            <p>{{ lotto.lotto_group }}</p>
          </v-card-title>

          <!-- loop minicard   -->
          <v-row class="ml-1 mr-1">
            <v-col
              class="pa-1"
              cols="6"
              sm="6"
              md="3"
              v-for="game in lotto.games"
              :key="game.game_id"
            >
              <vue-countdown
                class="green--text px-0"
                v-if="
                  dateDiff(
                    game.games.before.game_date,
                    game.games.before.close_time
                  ) > 0
                "
                :time="
                  dateDiff(
                    game.games.before.game_date,
                    game.games.before.close_time
                  )
                "
                v-slot="{ days, hours, minutes, seconds }"
              >
                <v-card
                  class="mx-auto"
                  @click="
                    checkTimeout(days, hours, minutes, seconds)
                      ? null
                      : nextPage(
                          game.games.before.lotto_group_code,
                          game.games.before.game_id,
                          game.games.before.lotto_type_code
                        )
                  "
                >
                  <h5
                    v-if="checkTimeout(days, hours, minutes, seconds)"
                    class="white--text red"
                  >
                    ปิดรับแล้ว
                  </h5>
                  <h5 v-else class="white--text green">
                    เปิดรับแทง
                  </h5>
                  <v-card-title class="justify-center px-0 py-1">
                    <p class="mb-0 text-body-2 font-weight-bold">
                      {{ game.games.before.lotto_type }}
                    </p>
                    <div>
                      <v-img
                        class="d-block"
                        v-if="
                          game.games.before.lotto_group_code ==
                            'stock_foreign' ||
                            (game.games.before.lotto_group_code == 'malay') |
                              (game.games.before.lotto_group_code == 'laos') |
                              (game.games.before.lotto_group_code ==
                                'vietnam') |
                              (game.games.before.lotto_type_code == 'gov') |
                              (game.games.before.lotto_type_code == 'govf')
                        "
                        :lasy-src="
                          require(`@/assets/flags/${game.games.before.lotto_type_code}.png`)
                        "
                        max-height="16"
                        max-width="16"
                        :src="
                          require(`@/assets/flags/${game.games.before.lotto_type_code}.png`)
                        "
                      ></v-img>
                    </div>
                  </v-card-title>
                  <v-card-text class="py-0">
                    <b
                      >ปิดรับ {{ dateTh(game.games.before.game_date) }}
                      {{ game.games.before.close_time }}</b
                    >
                  </v-card-text>
                  <v-card-actions class="px-1 text-center justify-center">
                    <v-row class="pa-1 pt-2 green--text">
                      <v-col class="pa-0 px-1" cols="3">
                        <p class="mb-0 text-body-2 font-weight-bold">
                          {{ `${days}` }}
                        </p>
                        <p class="mb-0 text-caption">วัน</p>
                      </v-col>
                      <v-col class="pa-0" cols="3">
                        <p class="mb-0 text-body-2 font-weight-bold">
                          {{ `${hours}` }}
                        </p>
                        <p class="mb-0 text-caption">ชั่วโมง</p>
                      </v-col>
                      <v-col class="pa-0" cols="3">
                        <p class="mb-0 text-body-2 font-weight-bold">
                          {{ `${minutes}` }}
                        </p>
                        <p class="mb-0 text-caption">นาที</p>
                      </v-col>
                      <v-col class="pa-0 px-0" cols="3">
                        <p class="mb-0 text-body-2 font-weight-bold">
                          {{ `${seconds}` }}
                        </p>
                        <p class="mb-0 text-caption">วินาที</p>
                      </v-col>
                    </v-row>
                  </v-card-actions>
                </v-card>
              </vue-countdown>
            </v-col>
          </v-row>
          <!--  -->
        </v-card>
      </v-col>
    </v-row>
  </LayoutDefault>
</template>
<script>
import LayoutDefault from "@/layouts/LayoutDefault";
import VueCountdown from "@chenfengyuan/vue-countdown";
import { mapState } from "vuex";
import Progressbar from "@/components/Progressbar";
export default {
  name: "lottery",
  components: {
    LayoutDefault,
    VueCountdown,
    Progressbar,
  },
  data: () => ({}),
  methods: {
    dateTh(val) {
      const date = new Date(val);
      const result = date.toLocaleDateString("th-TH", {
        year: "numeric",
        month: "long",
        day: "numeric",
      });
      return result;
    },
    dateDiff(date, time) {
      const countDownDate = new Date(`${date}T${time}`);
      const now = new Date();
      // var distance = countDownDate - now;
      return countDownDate !== "Invalid Date"
        ? countDownDate.getTime() - now.getTime()
        : null;
    },
    nextPage(group, id, typecode) {
      this.$router.push({ path: `/lottery/${group}/${typecode}/${id}` });
    },
    checkTimeout(day, hh, mm, ss) {
      if (day <= 0 && hh <= 0 && mm <= 0 && ss <= 0) {
        return false;
      }
    },
  },
  computed: mapState({
    lottos: (state) => state.lottos.lottos,
    gov: (state) => state.lottos.gov,
    isLoading: (state) => state.lottos.isLoading,
  }),
  async created() {
    await this.$store.dispatch("lottos/getAllLottos");
  },
  destroyed() {
    this.$store.commit("lottos/setLottos", []);
  },
};
</script>
<style scoped></style>
