<template>
  <LayoutDefault>
    <!--  <p>{{ JSON.stringify(fullpredicts) }}</p> -->
    <h2 class="text-center white--text mb-4">ยิงปิงปอง</h2>
    <v-card>
      <v-tabs v-model="tab" background-color="transparent" color="purple" grow>
        <v-tabs-slider></v-tabs-slider>
        <v-tab href="#shoot">
          {{ items[0] }}
        </v-tab>
        <v-tab href="#result">
          {{ items[1] }}
        </v-tab>
      </v-tabs>
      <v-card-text>
        <v-tabs-items v-model="tab">
          <v-tab-item value="shoot">
            <!-- Content -->
            <openShoot />
          </v-tab-item>
          <v-tab-item value="result">
            <!-- Content -->
            <resultPingpong />
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
    </v-card>
  </LayoutDefault>
</template>

<script>
import LayoutDefault from "@/layouts/LayoutDefault";
import openShoot from "@/components/pingpong/openShoot";
import resultPingpong from "@/components/pingpong/resultPingpong";
export default {
  name: "pingpong",
  components: {
    LayoutDefault,
    openShoot,
    resultPingpong,
  },
  data() {
    return {
      tab: null,
      items: ["งวดที่ยิงปิงปองได้", "งวดที่ผลออกแล้ว"],
    };
  },
};
</script>
