<template>
  <LayoutDefault>
    <!--  <p>{{ JSON.stringify(fullpredicts) }}</p> -->
    <BoxPressNumber />
  </LayoutDefault>
</template>

<script>
import LayoutDefault from "@/layouts/LayoutDefault";
import BoxPressNumber from "@/components/pingpongplay/BoxPressNumber";
export default {
  name: "pingpongplay",
  components: {
    LayoutDefault,
    BoxPressNumber,
  },
};
</script>
