<template lang="">
  <LayoutDefault>
    <v-container>
      <v-snackbar
        :timeout="2000"
        v-model="alert"
        :color="color"
        :top="true"
        dark
        >{{ validText }}</v-snackbar
      >
      <v-card>
        <v-card-title class="white--text purple">
          <v-btn to="/">
            <v-icon>{{ icon }}</v-icon> กลับสู่หน้าหลัก</v-btn
          >
        </v-card-title>
        <v-card-title class="white--text purple">
          ข้อมูลส่วนตัว
        </v-card-title>
        <v-card-text class="pt-4">
          <validation-observer ref="observer" v-slot="{ invalid }">
            <v-form ref="formReg" name="formReg">
              <validation-provider
                v-slot="{ errors }"
                name="Username"
                rules="required|max:12"
              >
                <v-text-field
                  :counter="12"
                  :error-messages="errors"
                  name="memberName"
                  ref="member_name"
                  label="ชื่อผู้ใช้"
                  aria-label="ชื่อผู้ใช้"
                  v-model="username"
                  required
                  outlined
                ></v-text-field>
              </validation-provider>
              <validation-provider
                v-slot="{ errors }"
                name="phonenumber"
                rules="required|max:10|min:10"
              >
                <v-text-field
                  :counter="10"
                  :error-messages="errors"
                  name="phonenumber"
                  label="เบอร์โทรศัพท์"
                  aria-label="เบอร์โทรศัพท์"
                  v-model="phoneNumber"
                  required
                  outlined
                  type="number"
                ></v-text-field>
              </validation-provider>

              <!-- For Bank Selected -->
              <v-text-field
                name="bankName"
                label="ธนาคาร"
                aria-label="ธนาคาร"
                outlined
                v-model="bankName"
                readonly
              ></v-text-field>
              <!--  -->
              <validation-provider
                v-slot="{ errors }"
                name="BankaccountNo"
                rules="required|max:15|min:5"
              >
                <v-text-field
                  type="number"
                  name="bankAccountNo"
                  label="หมายเลขบัญชี"
                  aria-label="หมายเลขบัญชี"
                  required
                  outlined
                  v-model="bankAccountNo"
                  :counter="15"
                  :error-messages="errors"
                  readonly
                ></v-text-field>
              </validation-provider>

              <v-text-field
                name="FullName"
                v-model="fullname"
                aria-label="ชื่อ-นามสกุล"
                label="ชื่อ-นามสกุล"
                required
                readonly
                outlined
              ></v-text-field>
              <v-row>
                <v-col cols="12" sm="8" md="8">
                  <v-btn
                    block
                    name="submitBtn"
                    color="success"
                    type="button"
                    :disabled="invalid"
                    @click="validForm"
                  >
                    บันทึก
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </validation-observer>
        </v-card-text>
      </v-card>
    </v-container>
  </LayoutDefault>
</template>
<script>
import LayoutDefault from "@/layouts/LayoutDefault";
import { mapState } from "vuex";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
import { required, max, min } from "vee-validate/dist/rules";
import { mdiArrowLeftCircle } from "@mdi/js";
import moment from "moment";
import { badWord } from "@/services/registerAsset";
setInteractionMode("eager");

extend("required", {
  ...required,
  message: "{_field_} ไม่สามารถเป็นค่าว่างได้",
});

extend("max", {
  ...max,
  message: "{_field_} ไม่สามารถกรอกเกิน {length} ตัวอักษร",
});

extend("min", {
  ...min,
  message: "{_field_} ไม่สามารถกรอกน้อย {length} ตัวอักษร",
});

export default {
  name: "Profile",
  components: { ValidationObserver, ValidationProvider, LayoutDefault },
  data() {
    return {
      username: "",
      phoneNumber: "",
      bankName: "",
      bankAccountNo: "",
      fullname: "",
      icon: mdiArrowLeftCircle,
      alert: false, // set snackbar Show/Hide
      validText: "", // text in snackbar
      color: "",
      badWord: badWord,
      badAlertCount: 0,
      badAlertArr: [],
      compareText: "",
      alertText: "",
    };
  },
  methods: {
    logTest() {
      console.log(this.profile);
    },
    async sendEdit() {
      // เหลือ ทำ async UPDATE PROFILE
      let editData = new URLSearchParams();
      const last_ud = moment(
        this.profile.last_update_date,
        "YYYY-MM-DD HH:mm:ss"
      ).format("DD/MM/YYYY");
      const presentDate = moment().format("DD/MM/YYYY");
      editData.append("type", "editProfile");
      editData.append("memberId", this.isUser.userId);
      editData.append("member_name", this.username);
      editData.append("mobile_phone", this.phoneNumber);
      editData.append("userId", this.isUser.userName);
      // console.log(editData);
      if (last_ud == presentDate) {
        this.color = "red";
        this.validText = "สามารถแก้ไขข้อมูลส่วนตัวได้วันละ 1 ครั้ง";
        this.alert = true;
      } else {
        await this.$store.dispatch("profile/editProfile", editData);
        if (this.status.request) {
          this.color = "green";
          this.validText = "บันทึกข้อมูลสำเร็จ";
          this.alert = true;
        }
      }
    },
    async validForm() {
      let compareText = this.username;
      for (let i = 0; i < badWord.length; i++) {
        for (var j = 0; j < compareText.length; j++) {
          if (
            badWord[i] ==
            compareText.substring(j, j + badWord[i].length).toLowerCase()
          ) {
            this.badAlertArr[this.badAlertCount] = compareText.substring(
              j,
              j + badWord[i].length
            );
            this.badAlertCount++;
          }
        }
      }
      for (var k = 1; k <= this.badAlertCount; k++) {
        this.alertText += "\n" + "(" + k + ")  " + this.badAlertArr[k - 1];
      }
      // console.log(this.badAlertCount);
      if (this.badAlertCount > 0) {
        alert(
          "ไม่สามารถตั้งชื่อผู้ใช้โดยใช้คำหยาบได้\nคำหยาบที่ระบบตรวจพบคือ:\n_______________________________\n" +
            this.alertText +
            "\n_______________________________"
        );
        this.alertText = "";
        this.badAlertArr = [];
        this.badAlertCount = 0;
      } else {
        if (document.formReg.checkValidity()) {
          this.sendEdit();
        } else {
          this.color = "red";
          this.validText = "ชื่อผู้ใช้มีคำหยาบ ไม่สามารถบันทึกข้อมูลได้";
          this.alert = true;
        }
      }
    },
  },
  computed: {
    ...mapState({
      profile: (state) => state.profile.profile.request[0],
      status: (state) => state.profile.status,
    }),
    isUser() {
      return this.$store.getters["auth/getUser"];
    },
  },
  async created() {
    // console.log(this.isProfile);
    await this.$store.dispatch("profile/requestProfile", this.isUser.userName);
    this.username = this.profile.member_name;
    this.phoneNumber = this.profile.mobile_phone;
    this.bankName = this.profile.bank_name;
    this.bankAccountNo = this.profile.bank_account_no;
    this.fullname = this.profile.bank_account_name;
  },
};
</script>
<style lang=""></style>
