<template lang="">
  <v-container>
    <div v-if="isUploading">
      <!--   <semipolar-spinner
        :animation-duration="2000"
        :size="65"
        :color="'#503cd5'"
      /> -->
      <Progressbar />
    </div>
    <v-card>
      <v-card-title class="white--text purple">
        <v-btn @click="back">
          <v-icon>{{ icon }}</v-icon> กลับสู่หน้าเข้าสู่ระบบ</v-btn
        >
      </v-card-title>
      <v-card-title class="white--text purple">
        สมัครสมาชิก
      </v-card-title>
      <v-card-text class="pt-4">
        <validation-observer ref="observer" v-slot="{ invalid }">
          <v-form ref="formReg" name="formReg">
            <validation-provider
              v-slot="{ errors }"
              name="Username"
              rules="required|max:10"
            >
              <v-text-field
                :counter="10"
                :error-messages="errors"
                name="memberName"
                ref="member_name"
                label="ชื่อผู้ใช้"
                aria-label="ชื่อผู้ใช้"
                v-model="username"
                required
                outlined
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="phonenumber"
              rules="required|max:10|min:10"
            >
              <v-text-field
                :counter="10"
                :error-messages="errors"
                name="phonenumber"
                label="เบอร์โทรศัพท์"
                aria-label="เบอร์โทรศัพท์"
                v-model="phoneNumber"
                required
                outlined
                type="number"
              ></v-text-field>
            </validation-provider>

            <!-- For Bank Selected -->
            <v-select
              :items="bank"
              item-text="bankName"
              v-model="bankSelected"
              label="เลือกธนาคาร"
              persistent-hint
              return-object
              single-line
              required
              outlined
            ></v-select>
            <!--  -->
            <validation-provider
              v-slot="{ errors }"
              name="BankaccountNo"
              rules="required|max:15|min:5"
            >
              <v-text-field
                type="number"
                name="bankAccountNo"
                label="หมายเลขบัญชี"
                aria-label="หมายเลขบัญชี"
                required
                outlined
                v-model="bankAccountNo"
                :counter="15"
                :error-messages="errors"
              ></v-text-field>
            </validation-provider>

            <v-text-field
              name="firstName"
              v-model="firstName"
              aria-label="ชื่อ"
              label="ชื่อจริง"
              required
              outlined
            ></v-text-field>
            <v-text-field
              name="lastName"
              v-model="lastName"
              aria-label="นามสกุล"
              label="นามสกุล"
              required
              outlined
            ></v-text-field>
            <v-row>
              <v-col cols="12" sm="8" md="8">
                <v-btn
                  block
                  name="submitBtn"
                  color="success"
                  type="button"
                  @click="submitForm"
                  :disabled="invalid"
                >
                  บันทึก
                </v-btn>
              </v-col>
              <v-col cols="12" sm="4" md="4">
                <v-btn
                  block
                  name="submitBtn"
                  color="error"
                  type="button"
                  @click="resetForm"
                >
                  ล้างค่า
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </validation-observer>
      </v-card-text>
    </v-card>
    <v-snackbar
      :timeout="2000"
      v-model="alert"
      :color="color"
      :top="true"
      dark
      >{{ validText }}</v-snackbar
    >
  </v-container>
</template>
<script src="https://static.line-scdn.net/liff/edge/versions/2.9.0/sdk.js"></script>
<script>
import { bank, badWord } from "@/services/registerAsset";
import { required, max, min } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
//import { SemipolarSpinner } from "epic-spinners";
import { mdiArrowLeftCircle } from "@mdi/js";
import tokenKey from "@/services/liff";
import Progressbar from "@/components/Progressbar";

setInteractionMode("eager");

extend("required", {
  ...required,
  message: "{_field_} ไม่สามารถเป็นค่าว่างได้",
});

extend("max", {
  ...max,
  message: "{_field_} ไม่สามารถกรอกเกิน {length} ตัวอักษร",
});

extend("min", {
  ...min,
  message: "{_field_} ไม่สามารถกรอกน้อย {length} ตัวอักษร",
});

export default {
  name: "Register",
  components: {
    Progressbar,
    ValidationObserver,
    ValidationProvider,
  },
  data: () => {
    return {
      key: tokenKey,
      icon: mdiArrowLeftCircle,
      liffId: "",
      email: "",
      displayName: "",
      statusMessage: "",
      pictureUrl: "",
      username: "",
      phoneNumber: "",
      bankSelected: "",
      bankAccountNo: "",
      firstName: "",
      lastName: "",
      bank: bank,
      badWord: badWord,
      badAlertCount: 0,
      badAlertArr: [],
      compareText: "",
      alertText: "",
      validText: "กรุณากรอกข้อมูลให้ครบถ้วนและถูกต้อง",
      alert: false,
      color: "",
    };
  },
  methods: {
    resetForm() {
      this.$refs.formReg.reset();
    },
    submitForm() {
      let compareText = this.username;
      for (let i = 0; i < badWord.length; i++) {
        for (var j = 0; j < compareText.length; j++) {
          if (
            badWord[i] ==
            compareText.substring(j, j + badWord[i].length).toLowerCase()
          ) {
            this.badAlertArr[this.badAlertCount] = compareText.substring(
              j,
              j + badWord[i].length
            );
            this.badAlertCount++;
          }
        }
      }

      for (var k = 1; k <= this.badAlertCount; k++) {
        this.alertText += "\n" + "(" + k + ")  " + this.badAlertArr[k - 1];
      }
      // console.log(this.badAlertCount);
      if (this.badAlertCount > 0) {
        alert(
          "ไม่สามารถตั้งชื่อผู้ใช้โดยใช้คำหยาบได้\nคำหยาบที่ระบบตรวจพบคือ:\n_______________________________\n" +
            this.alertText +
            "\n_______________________________"
        );
        this.alertText = "";
        this.badAlertArr = [];
        this.badAlertCount = 0;
      } else {
        if (document.formReg.checkValidity()) {
          // if (this.liffId == "" || this.liffId == undefined) {
          //   this.validText = "กรุณา สมัครสมาชิก ผ่าน line liff";
          //   this.alert = !this.alert;
          //   return;
          // }
          const params = new URLSearchParams();
          params.append("username", this.username);
          params.append("phoneNumber", this.phoneNumber);
          params.append("bankId", this.bankSelected.bankId);
          // params.append("bankName", this.bankSelected.bankName);
          params.append("bankAccountNo", this.bankAccountNo);
          params.append("firstName", this.firstName);
          params.append("lastName", this.lastName);
          // params.append("liffId", this.liffId); //ไลน์ลิฟ
          // params.append("email", this.email);
          // params.append("displayName", this.displayName);
          // params.append("statusMessage", this.statusMessage);
          // params.append("pictureUrl", this.pictureUrl);

          this.$store
            .dispatch("register/createSignup", params)
            .then((res) => {
              if (res.status == true) {
                console.log(res);
                location.reload();
              } else alert("กรุณาลองอีกครั้ง");
            })
            .catch((err) => console.log(err));
          // document.formReg.submit();
        } else {
          this.alert = true;
          this.color = "red";
        }
      }
    },
    // async getUserProfile(liff) {
    //   const profile = await liff.getProfile();
    //   this.liffId = profile.userId;
    //   this.email = liff.getDecodedIDToken().email;
    //   this.displayName = profile.displayName;
    //   this.statusMessage = profile.statusMessage;
    //   this.pictureUrl = profile.pictureUrl;
    // },
    back() {
      this.$router.push("/signin");
    },
  },
  computed: {
    isUploading: {
      get() {
        return this.$store.getters["register/isUploading"];
      },
    },
  },
  async beforeCreate() {
    // await liff.init({ liffId: "1656011591-2kxpjd1e" });
    // await this.getUserProfile(liff);
  },
  async created() {
    if (this.$store.getters["auth/isLoggedIn"])
      this.$router.push({ path: "/home" });
  },
};
</script>

<style lang=""></style>
