<template lang="">
  <v-container>
    <div v-if="isLoading">
      <!-- <semipolar-spinner
        :animation-duration="2000"
        :size="65"
        :color="'#503cd5'"
      /> -->
      <Progressbar />
    </div>
    <v-row>
      <v-col class="text-center" cols="2"></v-col>
      <v-img
        class="mx-2"
        :src="logo"
        height="200"
        width="200"
        cols="4"
        contain
      ></v-img>
      <v-col class="text-center" cols="2"></v-col>
    </v-row>

    <v-card class="mt-3">
      <v-card-text class="text-center">
        <h1 class="purple--text">เข้าสู่ระบบ</h1>
      </v-card-text>

      <v-card-text>
        <validation-observer ref="observer" v-slot="{ invalid }">
          <v-form>
            <validation-provider
              v-slot="{ errors }"
              name="ชื่อผู้ใช้"
              rules="required|max:10"
            >
              <v-text-field
                label="ชื่อผู้ใช้"
                outlined
                v-model="username"
                :counter="10"
                :error-messages="errors"
                required
              ></v-text-field>
            </validation-provider>
            <validation-provider
              v-slot="{ errors }"
              name="รหัสผ่าน"
              rules="required|max:10"
            >
              <v-text-field
                type="password"
                outlined
                class="mt-5"
                label="รหัสผ่าน"
                v-model="password"
                :counter="10"
                :error-messages="errors"
                required
              ></v-text-field>
            </validation-provider>

            <v-row class="mt-3">
              <v-col cols="12" sm="8" md="8">
                <v-btn
                  color="success"
                  @click="signin"
                  :disabled="invalid"
                  block
                >
                  เข้าสู่ระบบ
                </v-btn>
              </v-col>
              <v-col cols="12" sm="4" md="4">
                <v-btn color="error" class="" @click="register" block>
                  สมัครสมาชิก
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </validation-observer>
      </v-card-text>
      <v-snackbar color="error" v-model="snackbar" top>
        {{ message }}

        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </v-card>
  </v-container>
</template>
<script src="https://static.line-scdn.net/liff/edge/versions/2.9.0/sdk.js"></script>
<script>
import logo from "@/assets/herehoi.png";
import { required, max } from "vee-validate/dist/rules";
import {
  extend,
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from "vee-validate";
// import liffId from "@/services/liff";
import Progressbar from "@/components/Progressbar";

setInteractionMode("eager");

extend("required", {
  ...required,
  message: "{_field_} ไม่สามารถเป็นค่าว่างได้",
});

extend("max", {
  ...max,
  message: "{_field_} ไม่สามารถกรอกเกิน {length} ตัวอักษร",
});

export default {
  name: "Signin",
  components: {
    Progressbar,
    ValidationObserver,
    ValidationProvider,
  },
  data: () => ({
    // key: liffId,
    logo: logo,
    username: "",
    password: "",
    liffId: "",
    email: "",
    displayName: "",
    statusMessage: "",
    pictureUrl: "",
    snackbar: false,
    message: "Username or Password Invalid !",
  }),
  computed: {
    isLoading: {
      get() {
        return this.$store.getters["auth/isLoading"];
      },
    },
  },
  methods: {
    signin(e) {
      e.preventDefault();
      // if (this.liffId == "" || this.liffId == undefined) {
      //   this.message = "กรุณา Login ผ่าน line liff";
      //   this.snackbar = !this.snackbar;
      //   return;
      // }
      if (this.username < 5 || this.password < 5)
        return alert("กรุณากรอก Username และ Password");
      const params = new URLSearchParams();
      // params.append("liffId", this.liffId);
      params.append("username", this.username);
      params.append("password", this.password);
      // params.append("email", this.email);
      // params.append("displayName", this.displayName);
      // params.append("statusMessage", this.statusMessage);
      // params.append("pictureUrl", this.pictureUrl);
      this.$store
        .dispatch("auth/loggin", params)
        .then((res) => {
          console.log(res);
          if (!res.status) {
            this.message = res.msg;
            this.snackbar = !this.snackbar;
          } else {
          }
          location.reload();
        })
        .catch((err) => console.log(err));
    },
    register() {
      this.$router.push("/register");
    },
    clear(e) {
      e.preventDefault();
      this.username = "";
      this.password = "";
    },
    // async getUserProfile(liff) {
    //   const profile = await liff.getProfile();
    //   this.liffId = profile.userId;
    //   this.email = liff.getDecodedIDToken().email;
    //   this.displayName = profile.displayName;
    //   this.statusMessage = profile.statusMessage;
    //   this.pictureUrl = profile.pictureUrl;
    // },
    gotoHome() {
      this.$router.push({ path: "/home" });
    },
  },
  async beforeCreate() {
    // await liff.init({ liffId: "1656011591-2kxpjd1e" });
    // await this.getUserProfile(liff);
  },
  async created() {
    if (this.$store.getters["auth/isLoggedIn"])
      this.$router.push({ path: "/home" });
  },
};
</script>

<style lang="css">
.v-application--wrap {
  background: rgb(29, 0, 34);
}
</style>
