<template lang="">
  <LayoutDefault>
    <v-snackbar
      :timeout="1000"
      v-model="alert"
      :color="color"
      :top="true"
      dark
      >{{ alertText }}</v-snackbar
    >
    <div v-if="isLoading">
      <Progressbar />
    </div>

    <v-container>
      <!-- DatePicket -->
      <v-row no-gutters>
        <v-col>
          <v-card :class="'pa-2 rounded-l-lg'" :color="'#350258'" tile>
            <v-menu
              v-model="menu1"
              :close-on-content-click="false"
              :nudge-right="50"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dateStart"
                  label="วันที่เริ่มต้น"
                  :class="'mr-5'"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  dark
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="dateStart"
                @input="menu1 = false"
                :max="dateEnd"
              ></v-date-picker>
            </v-menu>
          </v-card>
        </v-col>
        <v-col>
          <v-card :class="'pa-2 rounded-r-lg'" :color="'#350258'" tile>
            <v-menu
              v-model="menu2"
              :close-on-content-click="false"
              :nudge-left="150"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="dateEnd"
                  label="วันที่สิ้นสุด"
                  prepend-icon="mdi-calendar"
                  readonly
                  :class="'mr-5'"
                  v-bind="attrs"
                  v-on="on"
                  dark
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="dateEnd"
                @input="menu2 = false"
                :min="dateStart"
              ></v-date-picker>
            </v-menu>
          </v-card>
        </v-col>
      </v-row>
      <v-btn
        block
        depressed
        color="primary"
        :class="'mt-2'"
        @click="findMyTransection()"
      >
        ค้นหา
      </v-btn>
      <!-- DatePicket -->
      <v-card
        class="mx-auto mt-3"
        max-width="344"
        v-for="(transection, idx) in isTransection"
        :key="idx"
        outlined
      >
        <v-card-title>
          <h5 class="display-5">
            {{ transection.desc }}
          </h5>
          <br />
          <v-chip
            class="ma-2"
            color="success"
            outlined
            pill
            v-if="transection.crry > 0"
          >
            {{ transection.crry }}
          </v-chip>
          <v-chip class="ma-2" color="error" outlined pill v-else>
            {{ transection.crry }}
          </v-chip>
          <!-- <span class="title"></span> -->
        </v-card-title>

        <v-card-text>
          {{ transection.date }}
        </v-card-text>

        <v-divider class="mx-4"></v-divider>

        <v-card-actions>
          <v-btn block class="white--text" color="deep-purple accent-4">
            คงเหลือ {{ transection.prebal }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-container>
  </LayoutDefault>
</template>

<script>
import LayoutDefault from "@/layouts/LayoutDefault";
import cal from "@/services/calNumber";
import dayjs from "dayjs";
import { mdiMagnify } from "@mdi/js";
import Progressbar from "@/components/Progressbar";

export default {
  name: "Transection",
  components: {
    LayoutDefault,
    Progressbar,
  },
  data: () => {
    return {
      numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, "DELETE"],
      amount: "",
      sheet: false,
      icons: {
        mdiMagnify,
      },
      alert: false, // set snackbar Show/Hide
      alertText: "ยกเลิกโพยเรียบร้อย", // text in snackbar
      color: "",
      note: "",
      start: null,
      end: null,
      dateStart: dayjs()
        .subtract(1, "days")
        .format("YYYY-MM-DD"),
      dateEnd: dayjs().format("YYYY-MM-DD"),
      menu: false,
      modal: false,
      menu1: false,
      menu2: false,
    };
  },

  methods: {
    setAlert() {
      this.alert = true;
    },
    convertTime(time) {
      return dayjs(time).format("HH:mm:ss");
    },
    convertDate(date) {
      return dayjs(date).format("DD/MM/YYYY");
    },
    checkStatus(date, time) {
      const nowDate = dayjs().format("YYYY-MM-DD");
      const nowTime = dayjs().format("HH:mm:ss");

      if (nowDate < date) {
        return false;
      } else if (nowDate == date && nowTime < time) {
        return false;
      } else {
        return true;
      }
    },
    async rejectTicket(id) {
      const data = {
        id: id,
        userId: this.isUser.userId,
      };
      await this.$store.dispatch("transection/getRejectTicket", data);
      console.log(this.isLottoReject); //true
      if (this.isLottoReject) {
        this.color = "green";
        this.alertText = "ยกเลิกโพยเรียบร้อย";
        this.setAlert();
        await this.refreshHistory();
      }
    },
    async findMyTransection() {
      const date = {
        userId: this.isUser.userId,
        start: this.dateStart,
        end: this.dateEnd,
      };
      await this.$store.dispatch("transection/getDataTransection", date);
    },
    async refreshHistory() {
      const date = {
        userId: this.isUser.userId,
        start: dayjs()
          .subtract(1, "days")
          .format("YYYY-MM-DD HH:mm:ss"),
        end: dayjs().format("YYYY-MM-DD HH:mm:ss"),
      };
      await this.$store.dispatch("transection/getTicketHistory", date);
    },
    pressnum() {
      alert("test");
      //this.$refs.pressnum.focus();
    },
    addComma(value) {
      return cal.addComma(parseFloat(value));
    },
  },
  computed: {
    date() {
      return this.$store.getters["lottos/credit"];
    },
    isPay() {
      return this.$store.getters["transection/isPay"];
    },
    isTransection() {
      return this.$store.getters["transection/isTransection"];
    },
    isCredit() {
      return this.$store.getters["lottos/credit"];
    },
    isUser() {
      return this.$store.getters["auth/getUser"];
    },
    isLottoview() {
      return this.$store.getters["transection/isLottoview"];
    },
    isLottoReject() {
      return this.$store.getters["transection/isLottoReject"];
    },
    isLottoDetail() {
      return this.$store.getters["transection/isLottoDetail"];
    },
    isLoading() {
      return this.$store.getters["transection/isLoading"];
    },
  },
  beforeCreate() {},
  async created() {
    const date = {
      userId: this.isUser.userId,
      start: dayjs()
        .subtract(1, "days")
        .format("YYYY-MM-DD HH:mm:ss"),
      end: dayjs().format("YYYY-MM-DD HH:mm:ss"),
    };
    const data = {
      userId: this.isUser.userId,
      start: dayjs()
        .subtract(1, "days")
        .format("YYYY-MM-DD"),
      end: dayjs().format("YYYY-MM-DD"),
    };
    await this.$store.dispatch("transection/getDataTransection", data);

    await this.$store.dispatch("transection/getTicketHistory", date);
    await this.$store.dispatch("lottos/getCredit", this.isUser.userId);
    // console.log(this.isTransection);
  },
};
</script>

<style scope>
.custom-placeholer-color input::placeholder {
  color: red !important;
  opacity: 1;
}

.custom-label-color .v-label {
  color: red;
  opacity: 1;
  font-size: 1em;
}

.custom-placeholer-color input,
.custom-label-color input {
  color: #000 !important;
}
</style>
