<template lang="">
  <LayoutDefault>
    <v-snackbar
      :timeout="3000"
      v-model="alert"
      :color="color"
      :top="true"
      dark
      >{{ alertText }}</v-snackbar
    >
    <div v-if="isLoading">
      <Progressbar />
    </div>
    <v-container v-else>
      <v-card>
        <v-card-text
          class="font-weight-bold text-h5 deep-purple darken-1 accent-4 white--text"
          >แจ้งถอนเครดิต</v-card-text
        >
      </v-card>
      <v-card>
        <v-card-text class="text-">
          <p class="mb-0 red--text text-center">
            เตือน โปรดใช้บัญชีเดียวกันกับที่ท่านใช้สมัคร
          </p>
          <p class="mb-0 red--text text-center">
            แจ้งถอนเงิน *** ถอนเงินขั้นต่ำ
            <strong>{{ isAccount.min_withdraw }} บาท</strong>
          </p>
        </v-card-text>
      </v-card>
      <v-card class="mt-4 pt-4">
        <form>
          <v-row class="pa-5">
            <v-col class="pa-2 " align="center" cols="12">
              <v-text-field
                class="custom-label-color"
                :value="isAccount.bank_account_name"
                aria-label="accName"
                readonly
                outlined
                label="ชื่อบัญชี"
              />
            </v-col>
            <v-col class="pa-2 text-center" cols="12">
              <v-text-field
                class="custom-label-color"
                :value="isAccount.bank_name"
                readonly
                outlined
                label="ถอนเข้าบัญชี"
              />
            </v-col>
            <v-col class="pa-2 text-center" cols="12">
              <v-text-field
                class="custom-label-color"
                :value="isAccount.bank_account_no"
                readonly
                outlined
                label="หมายเลขบัญชี"
              />
            </v-col>
            <v-col class="pa-2 text-center" cols="12">
              <v-text-field
                class="custom-label-color"
                aria-label="credit"
                readonly
                :value="addComma(isCredit.credit)"
                outlined
                label="เครดิต"
              />
            </v-col>
            <v-col class="pa-2 text-center" cols="12">
              <v-text-field
                @click="demo"
                oninput="this.value=this.value.slice(0,this.maxLength)"
                type="number"
                maxlength="6"
                style="margin-right:5px"
                label="จำนวนเงินที่ต้องการถอน"
                class="custom-label-color"
                v-model="amount"
                outlined
                readonly
              />
            </v-col>
            <v-col class="pa-2 text-center" cols="12">
              <v-textarea
                style="margin-right:5px"
                outlined
                v-model="note"
                rows="1"
                label="หมายเหตุ*"
                class="custom-label-color"
              ></v-textarea>
            </v-col>
          </v-row>
        </form>
      </v-card>

      <!-- PressNumber -->
      <v-row class="mt-4 text-center">
        <v-col class="pb-0" cols="12">
          <button ref="pressnum">vvv กดจำนวนเงิน vvv</button>
        </v-col>
        <v-col
          class="text-center lh"
          height="2em"
          v-for="num in numbers"
          :key="num"
          :cols="num == 0 ? 8 : 4"
        >
          <v-card height="2em" @click="addAmountValue(num)">
            {{ num }}
          </v-card>
        </v-col>
      </v-row>
      <!-- Save withdraw transaction -->
      <v-btn
        class="mt-4 white--text font-weight-bold"
        width="100%"
        color="purple"
        @click="createWithdraw"
        >บันทึก</v-btn
      >
      <withdrawList />
    </v-container>
  </LayoutDefault>
</template>

<script>
import LayoutDefault from "@/layouts/LayoutDefault";
import cal from "@/services/calNumber";
import { createWithdraw } from "@/api/withdraw";
import withdrawList from "@/components/withdraw/withdrawList";
import Progressbar from "@/components/Progressbar";

export default {
  name: "Withdraw",
  components: {
    LayoutDefault,
    Progressbar,
    withdrawList,
  },
  data: () => {
    return {
      numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, "DELETE"],
      amount: "",
      alert: false, // set snackbar Show/Hide
      alertText: "ยอดถอนเกินเครดิตที่มี", // text in snackbar
      color: "",
      note: "",
      ip: "",
    };
  },
  methods: {
    setAlert() {
      this.alert = true;
    },
    demo() {
      const ref = this.$refs.pressnum;
      ref.focus();
      console.log(ref);
    },
    addAmountValue(arg) {
      if (this.amount.length == 0 && arg == 0) {
        return "";
      } else {
        if (arg != "DELETE") {
          this.amount += arg;
        } else {
          this.amount = this.amount.substring(0, this.amount.length - 1);
        }
      }
    },
    async createWithdraw() {
      if (parseInt(this.amount) > parseFloat(this.isCredit.credit)) {
        this.color = "red";
        this.alertText = "ยอดถอนเกินเครดิตที่มี";
        this.setAlert();
      } else if (
        parseInt(this.amount) < 50 ||
        parseInt(this.amount) < this.isAccount.withdraw_limit
      ) {
        this.color = "red";
        this.alertText = "ยอดถอนขั้นต่ำ 50 บาท";
        this.setAlert();
      } else {
        await fetch("https://api.ipify.org?format=json")
          .then((x) => x.json())
          .then(({ ip }) => {
            this.ip = ip;
          });
        console.log(
          this.isUser.userId,
          this.amount,
          this.note,
          this.ip,
          this.isAccount.withdraw_limit
        );
        const createWD = await createWithdraw(
          this.isUser.userId,
          this.amount,
          this.note,
          this.ip
        );
        if (createWD == "บันทึกรายการแจ้งถอนเงินเรียบร้อย") {
          this.color = "green";
          this.alertText = "บันทึกสำเร็จ";
          this.setAlert();
          this.$router.go();
        } else {
          this.color = "red";
          this.alertText = createWD;
          this.setAlert();
        }
      }
    },
    pressnum() {
      alert("test");
      //this.$refs.pressnum.focus();
    },
    addComma(value) {
      return cal.addComma(parseFloat(value));
    },
  },
  computed: {
    isCredit() {
      return this.$store.getters["lottos/credit"];
    },
    isUser() {
      return this.$store.getters["auth/getUser"];
    },
    isAccount() {
      return this.$store.getters["withdraw/isAccount"];
    },
    isLoading() {
      return this.$store.getters["withdraw/isLoading"];
    },
  },
  async created() {
    await this.$store.dispatch("withdraw/getAccountDetil", this.isUser.userId);
    await this.$store.dispatch("lottos/getCredit", this.isUser.userId);
    // console.log(this.isAccount);
  },
};
</script>

<style scope>
.custom-placeholer-color input::placeholder {
  color: red !important;
  opacity: 1;
}

.custom-label-color .v-label {
  color: red;
  opacity: 1;
  font-size: 1em;
}

.custom-placeholer-color input,
.custom-label-color input {
  color: #000 !important;
}
</style>
