<template>
  <div>
    <!--  <div v-if="isLoading">
      <Progressbar />
    </div> -->
    <div>
      <v-card class="mb-2">
        <v-card-text class="d-flex justify-space-between">
          <span>
            {{ statepost.lottotype }}
            {{ convertDay(statepost.gamedate) }}
          </span>
          <div>
            <vue-countdown :time="counttime" v-slot="{ minutes, seconds }">
              {{ minutes }} นาที {{ seconds }} วินาที
            </vue-countdown>
          </div>
        </v-card-text>
      </v-card>
      <v-card class="mb-2" v-if="statepost.sum > 0">
        <v-card-text>
          <v-row>
            <v-col cols="12" class="text-center">
              ผลรางวัล
            </v-col>
            <v-col cols="12" class="text-center">
              {{ statepost.sum }}
            </v-col>
            <v-col cols="12" class="d-flex justify-space-around">
              <div>
                <span>3 ตัวบน</span>
                <p class="text-center">{{ statepost.t3 }}</p>
              </div>
              <div>
                <span>2 ตัวล่าง</span>
                <p class="text-center">{{ statepost.b }}</p>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>

      <v-card v-if="statepost.postable">
        <div v-if="isUploading">
          <progressbar />
        </div>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-row>
                <v-col cols="12" class="text-center">
                  <p>ผลรวมยิงเลข</p>
                  <h3>{{ statepost.total }}</h3>
                  <div class="sumstate">
                    <div>
                      <p>3 ตัวบน</p>
                      <h3>{{ top3 }}</h3>
                    </div>
                    <div>
                      <p>2 ตัวล่าง</p>
                      <h3>{{ bot2 }}</h3>
                    </div>
                  </div>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    outlined
                    class="centered-input"
                    v-model="text"
                    type="number"
                    required
                    min="5"
                    max="5"
                    maxlength="5"
                    minlength="5"
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  ></v-text-field>
                </v-col>
                <v-col
                  class=""
                  v-for="button in numbers"
                  :key="button"
                  cols="4"
                >
                  <v-card
                    class="text-center"
                    v-bind:class="{
                      'bg-box-number': button == 'สุ่มเลข',
                      error: button == 'DELETE',
                    }"
                    @click="addAmountValue(button)"
                  >
                    <v-card-text
                      v-bind:class="{
                        text: button == 'สุ่มเลข',
                      }"
                      >{{ button }}</v-card-text
                    >
                  </v-card>
                </v-col>
                <v-col cols="12">
                  <v-btn block color="success" @click="submitPingpong">{{
                    valBtn
                  }}</v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <!-- ยังบ่ถึงเวลาแทง -->
      <!--  <v-card v-else-if="statepost.sum == 0 && statepost.postable == false || statepost.sum == null">
        <v-card-text class="text-center">
          <h3>ขณะนี้ยังไม่ถึงเวลายิงเลข</h3>
        </v-card-text>
      </v-card> -->
      <!-- โชว์ชื่อคนแทง -->
      <v-card class="mt-2" dark>
        <v-card-text>
          <v-data-table
            :items="posts"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            hide-default-footer
            class="elevation-1"
            @page-count="pageCount = $event"
          >
            <template v-slot:item="{ item }">
              <tr>
                <td>{{ item.index }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.number }}</td>
                <td>{{ convertDate(item.time) }}</td>
                <td>{{ item.desc }}</td>
              </tr>
            </template>
          </v-data-table>
          <div class="text-center pt-2">
            <v-pagination
              v-model="page"
              :length="pageCount"
              :prev-icon="icons[0]"
              :next-icon="icons[1]"
            ></v-pagination>
          </div>
        </v-card-text>
      </v-card>
    </div>
    <v-snackbar top v-model="snackbar.visible" :color="snackbar.color">
      <v-icon color="white">
        {{ snackbar.icon }}
      </v-icon>
      {{ message }}
    </v-snackbar>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import dayjs from "dayjs";
import {
  mdiChevronLeft,
  mdiChevronRight,
  mdiCheck,
  mdiAlertCircle,
} from "@mdi/js";
import VueCountdown from "@chenfengyuan/vue-countdown";
import Progressbar from "@/components/Progressbar";

export default {
  name: "boxnumber",
  components: {
    VueCountdown,
    Progressbar,
  },
  data: () => ({
    text: "",
    numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, "สุ่มเลข", 0, "DELETE"],
    numberRules: [
      (v) => !!v || "Number is required",
      (v) => v.length <= 5 || "Number must be less than 5 characters",
    ],
    icons: [mdiChevronLeft, mdiChevronRight, mdiCheck, mdiAlertCircle],
    page: 1,
    pageCount: 0,
    itemsPerPage: 20,
    message: "",
    counttime: 0,
    snackbar: {
      //โชว์ ข้อความ
      color: null,
      icon: null,
      mode: null,
      position: "top",
      text: null,
      timeout: 7500,
      title: null,
      visible: false,
    },
    valBtn: "เพิ่มเลข",
    gameId: null,
    timerSubmit: 6,
    top3: 0,
    bot2: 0,
    getItems: null,
  }),
  computed: {
    ...mapGetters({
      isLoading: "pingpong/isLoading",
      posts: "pingpong/posts",
      statepost: "pingpong/statepost",
      isUser: "auth/getUser",
      isUploading: "pingpong/isUploading",
    }),
  },
  methods: {
    addAmountValue: function(arg) {
      if (arg == "DELETE") {
        this.text = this.text.substring(0, this.text.length - 1);
      } else if (arg == "สุ่มเลข") {
        let random = Math.floor(Math.random() * 90000) + 10000;
        this.text = `${random}`;
      } else if (this.text.length >= 5) {
        return;
      } else {
        this.text += arg;
      }
    },
    convertDate(val) {
      return dayjs(val).format("HH:mm:ss");
    },
    async submitPingpong(e) {
      e.preventDefault();
      if (this.timerSubmit != 6) return;
      if (this.text.length != 5) return;
      this.timerSubmit--;
      this.$store.commit("pingpong/updatedIsUploading");
      const { name, version } = this.$browserDetect.meta;
      const params = new URLSearchParams();
      params.append("type", "createpost");
      params.append("gameid", this.gameId);
      params.append("number", this.text);
      params.append("userid", this.isUser.userId);
      params.append("postlogin", this.isUser.userName);
      params.append("username", this.isUser.name);
      params.append("ip", this.isUser.ip);
      params.append("os", this.getOS());
      params.append("browser", `${name} version:${version}`);
      await this.$store
        .dispatch("pingpong/requestCreatePost", params)
        .then(async (res) => {
          await this.$store.dispatch("pingpong/requestAlredy", this.gameId);
          this.$store.commit("pingpong/updatedIsUploading");
          if (res.alert == "create-fail") {
            this.message = res.statepost;
            this.snackbarShow("error");
          } else {
            this.message = res.statepost;
            this.snackbarShow("success");
          }
          this.text = "";

          let clear = setInterval(() => {
            this.timerSubmit--;
            this.valBtn = this.timerSubmit;
            if (this.timerSubmit <= 0) {
              this.valBtn = "เพิ่มเลข";
              this.timerSubmit = 6;
              clearInterval(clear);
            }
          }, 1000);
        })
        .catch((err) => console.log(err));
    },
    getOS() {
      var userAgent = window.navigator.userAgent,
        platform = window.navigator.platform,
        macosPlatforms = ["Macintosh", "MacIntel", "MacPPC", "Mac68K"],
        windowsPlatforms = ["Win32", "Win64", "Windows", "WinCE"],
        iosPlatforms = ["iPhone", "iPad", "iPod"],
        os = null;

      if (macosPlatforms.indexOf(platform) !== -1) {
        os = "Mac OS";
      } else if (iosPlatforms.indexOf(platform) !== -1) {
        os = "iOS";
      } else if (windowsPlatforms.indexOf(platform) !== -1) {
        os = "Windows";
      } else if (/Android/.test(userAgent)) {
        os = "Android";
      } else if (!os && /Linux/.test(platform)) {
        os = "Linux";
      }

      return os;
    },
    snackbarShow(type) {
      if (!type) return;
      switch (type) {
        case "error":
          this.snackbar = {
            color: "error",
            icon: this.icons[3],
            mode: "multi-line",
            position: "top",
            timeout: 4000,
            text: this.message,
            visible: true,
          };
          break;
        case "success":
          this.snackbar = {
            color: "success",
            icon: this.icons[2],
            mode: "multi-line",
            position: "top",
            timeout: 2000,
            text: this.message,
            visible: true,
          };
          break;
        default:
          break;
      }
    },
    convertDay(val) {
      return dayjs(val).format("DD-MM-YYYY");
    },
    countDown() {
      var countDownDate = new Date(
        `${this.statepost.gamedate}T${this.statepost.timeclose}`
      ).getTime();
      var now = new Date().getTime();
      var distance = countDownDate - now;
      if (distance < 0) return (this.counttime = 0);
      this.counttime = distance;
      const x = setInterval(function() {
        var nowIn = new Date().getTime();
        let newTime = countDownDate - nowIn;
        if (newTime <= 0) {
          this.counttime = 0;
          const refresh = setInterval(() => {
            window.location.reload();
            clearInterval(refresh);
            clearInterval(x);
          }, 5000);
        }
      }, 1000);
      return distance;
    },
    getPingpong() {
      let getItems;
      let postNumber = this.statepost.sum;
      getItems = setInterval(async () => {
        await this.$store.dispatch("pingpong/requestPost", this.gameId);
        await this.$store.dispatch("pingpong/requestStatePost", this.gameId);
        let totalNumber = this.statepost.total.substring(
          this.statepost.total,
          -5
        );
        this.top3 = totalNumber.substring(3, 6);
        this.bot2 = totalNumber.substring(1, 3);

        if (postNumber > 0) {
          clearInterval(getItems);
        }
      }, 3000);
    },
  },
  async created() {
    const { id } = this.$route.params;
    this.gameId = id;
    await this.$store.dispatch("pingpong/requestPost", this.gameId);
    await this.$store.dispatch("pingpong/requestStatePost", this.gameId);
    this.getPingpong();
    this.countDown();
  },
  destroyed() {
    this.getPingpong();
  },
};
</script>
<style lang="scss">
.centered-input input {
  text-align: center;
}
.text {
  color: white;
}

.isLoading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.sumstate {
  display: flex;
  justify-content: space-around;
}
</style>
