<template>
  <v-overlay :value="overlay">
    <semipolar-spinner :animation-duration="2000" :size="65" :color="'#fff'" />
  </v-overlay>
</template>

<script>
import { SemipolarSpinner } from "epic-spinners";

export default {
  name: "Progressbar",
  components: {
    SemipolarSpinner,
  },
  data: () => ({
    overlay: true,
  }),
};
</script>

<style lang="scss" scoped>
.isLoading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 10px;
}
</style>
