<template lang="">
  <v-container>
    <v-card class="mt-4" v-for="(item, index) in showWithdraw" :key="index">
      <v-card-text :class="returnColor(item.request_status)">
        <span class="text-subtitle-1 font-weight-bold white--text"
          >สถานะ:
        </span>
        <span
          class="float-right text-subtitle-1 font-weight-bold white--text"
          >{{ returnText(item.request_status) }}</span
        >
      </v-card-text>
      <v-card-text class="pa-1 text-center">
        <v-card>
          <v-card-text class="pa-2 py-1 text-center">
            <v-row>
              <v-col cols="12">
                <p class="mb-0">วันที่</p>
                <p class="mb-0">{{ item.request_date }}</p>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-row class="mt-1">
          <v-col class="py-1" cols="6">
            <h3>บัญชี</h3>
            <p class="mb-0 mt-3">{{ item.bank_name }}</p>
            <p class="mb-0">{{ item.bank_account_no }}</p>
            <p class="mb-0">{{ item.bank_account_name }}</p>
          </v-col>
          <v-col class="py-1" cols="6">
            <h3>จำนวนเงิน</h3>
            <p class="text-h5 mt-3">{{ item.amount }}</p>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pa-4" cols="12">
            <span
              class="rounded-lg pa-2 text-body-1 red white--text"
              v-if="item.request_status == '1'"
              @click="cancelWithdraws(item.request_id)"
              >ลบรายการ</span
            >
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-container>
</template>
<script>
import { mapState } from "vuex";
import { cancelWithdraw } from "@/api/withdraw";
export default {
  name: "withdrawList",
  data() {
    return {};
  },
  methods: {
    returnColor(status) {
      if (status == 1) {
        return "blue";
      } else if (status == 4) {
        return "green";
      } else {
        return "red";
      }
    },
    returnText(status) {
      if (status == 1) {
        return "รอยืนยัน";
      } else if (status == 4) {
        return "สำเร็จ";
      } else {
        return "ยกเลิก";
      }
    },
    async cancelWithdraws(requestId) {
      const deleteWithdraw = await cancelWithdraw(
        this.isUser.userId,
        requestId,
        this.isUser.userName
      );
      console.log(deleteWithdraw);
      this.$router.go();
    },
  },
  computed: {
    ...mapState({
      showWithdraw: (state) => state.withdraw.showWithdraw,
    }),
    isUser() {
      return this.$store.getters["auth/getUser"];
    },
  },
  async created() {
    await this.$store.dispatch("withdraw/getShowWithdraw", this.isUser.userId);
  },
};
</script>
<style lang=""></style>
