<template>
  <v-app>
    <router-view> </router-view>
  </v-app>
</template>
<script>
//import Home from "./pages/Home";
//import liff from "@line/liff";
export default {
  name: "App",
  /*  components: {
    Home,
  }, */
  created() {
    // liff.init({ liffId: "myLiffId" });
  },
};
</script>

<style>
* {
  font-family: "Prompt", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.v-application--wrap {
  overflow: hidden;
}

.v-btn__content {
  background-color: transparent;
}

.v-icon__svg {
  background-color: transparent;
}
</style>
