<template>
  <nav>
    <v-app-bar fixed class="bg " app>
      <v-toolbar dense class="bg " elevation="0">
        <router-link class="nav-link" to="/home">
          <v-btn icon>
            <v-img
              class="mx-2"
              :src="logo"
              height="50"
              width="50"
              contain
            ></v-img>
          </v-btn>
        </router-link>

        <v-spacer></v-spacer>
        <v-btn v-if="isLoading" class="white--text bg" elevation="0">
          <v-icon id="credit-refresh">{{ icons.mdiRefresh }}</v-icon>
        </v-btn>
        <v-btn
          v-else
          class="white--text bg"
          elevation="0"
          @click="creditRefresh"
        >
          <v-icon id="credit-refresh">{{ icons.mdiRefresh }}</v-icon>
          {{ addComma(isCredit.credit) }} ฿
        </v-btn>
        <v-app-bar-nav-icon @click="drawer = true" class="white--text">
          <v-icon>{{ icons.mdiMenu }}</v-icon>
        </v-app-bar-nav-icon>
      </v-toolbar>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      temporary
      right
      fixed
      dark
      class="mx-auto"
    >
      <v-list nav dense>
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-card dark class="mb-1">
            <v-card-actions>
              <v-btn color="white" text>
                {{ isUser.name }}
              </v-btn>

              <v-btn color="orange" to="/profile" text>
                <v-icon>{{ icons.mdiAccountEdit }}</v-icon>
              </v-btn>
            </v-card-actions>
            <v-card-text
              >credit : {{ addComma(isCredit.credit) }} ฿
            </v-card-text>
          </v-card>

          <div v-for="menu in menus" :key="menu.name">
            <router-link class="nav-link" :to="menu.path">
              <v-list-item>
                <v-list-item-icon>
                  <v-icon>{{ menu.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-title>{{ menu.name }}</v-list-item-title>
              </v-list-item>
            </router-link>
          </div>
          <!-- ออกจากระบบ -->
          <router-link class="nav-link" to="/signin">
            <v-list-item @click="loggout">
              <v-list-item-icon>
                <v-icon>{{ icons.mdiLogout }}</v-icon>
              </v-list-item-icon>
              <v-list-item-title>ออกจากระบบ</v-list-item-title>
            </v-list-item>
          </router-link>
          <!--  -->
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>
<script>
import {
  mdiMenu,
  mdiHome,
  mdiBullseye,
  mdiAccount,
  mdiLogout,
  mdiRefresh,
  mdiAccountEdit,
  mdiLicense,
  mdiBankOutline,
  mdiCash100,
  mdiAccountBox,
  mdiCardAccountPhone,
} from "@mdi/js";
import logo from "@/assets/herehoi.png";
import cal from "@/services/calNumber";
export default {
  name: `Appbar`,
  data: () => ({
    logo: logo,
    drawer: false,
    group: null,
    isLoading: false,
    icons: {
      mdiMenu,
      mdiAccount,
      mdiLogout,
      mdiRefresh,
      mdiAccountEdit,
      mdiLicense,
      mdiBankOutline,
      mdiCash100,
      mdiAccountBox,
      mdiCardAccountPhone,
    },
    menus: [
      { name: "หน้าแรก", path: "/home", icon: mdiHome },
      { name: "ข้อมูลส่วนตัว", path: "/profile", icon: mdiAccountBox },
      { name: "ฝากเงิน", path: "/deposit", icon: mdiBankOutline },
      { name: "ถอนเงิน", path: "/withdraw", icon: mdiCash100 },
      { name: "แทงหวย", path: "/lottery", icon: mdiBullseye },
      { name: "ผลรางวัล", path: "/award", icon: mdiLicense },
      { name: "ติดต่อ", path: "/contact", icon: mdiCardAccountPhone },
    ],
  }),
  computed: {
    isCredit() {
      return this.$store.getters["lottos/credit"];
    },
    isUser() {
      return this.$store.getters["auth/getUser"];
    },
  },
  methods: {
    loggout() {
      this.$store.dispatch("auth/logout");
    },
    addComma(value) {
      return cal.addComma(parseFloat(value).toFixed(2));
    },
    async creditRefresh(e) {
      e.preventDefault();
      let refresIcon = document.getElementById("credit-refresh");
      refresIcon.classList.add("refresh-start");
      await this.$store.dispatch("lottos/getCredit", this.isUser.userId);
      const clearset = setTimeout(() => {
        refresIcon.classList.remove("refresh-start");
        clearTimeout(clearset);
      }, 1800);
    },
    // async isCheckOnline() {
    //   await this.$store
    //     .dispatch("auth/isOnline")
    //     .then((status) => {
    //       if (status != true) {
    //         alert('บัญชีนี้มีผู้ใช้งานจากอุปกรณ์อื่น');
    //         return this.$store.dispatch("auth/logout");
    //       }
    //     })
    //     .catch((error) => console.log(error));
    // },
  },
  async created() {
    this.isLoading = !this.isLoading;
    await this.$store.dispatch("lottos/getCredit", this.isUser.userId);
    // await this.isCheckOnline();
    this.isLoading = !this.isLoading;
  },
};
</script>
<style scoped>
img {
  width: 100%;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.refresh-start {
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}
</style>
