<template>
  <v-row justify="center">
    <v-dialog
      v-model="toggle"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      scrollable
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="closeToggle()">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>รายการโพย</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark text @click="closeToggle()">
              ปิด
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-alert
          class="text-center"
          v-if="pay.total != null && pay.total != '0.00'"
          type="success"
          >ถูกรางวัลทั้งหมด {{ pay.total }} บาท</v-alert
        >
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  #
                </th>
                <th class="text-left">
                  เลข
                </th>
                <th class="text-left">
                  ประเภท
                </th>
                <th class="text-left">
                  ส่วนลด
                </th>
                <th class="text-left">
                  ราคา
                </th>
                <th class="text-left">
                  จ่าย
                </th>
                <th class="text-left">
                  รางวัล
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(data, idx) in detail" :key="idx">
                <td>{{ idx + 1 }}</td>
                <td>{{ data.bet_number }}</td>
                <td>{{ data.lotto_bet }}</td>
                <td>{{ data.discount_rate }}</td>
                <td>{{ data.bet_amount }}</td>
                <td>{{ data.pay_rate }}</td>
                <td>
                  <v-alert v-if="data.pay_amount == null" type="error">
                    คืนโพย
                  </v-alert>
                  <v-alert v-else-if="data.pay_amount != 0" type="success">
                    {{ data.pay_amount }}
                  </v-alert>
                  <span v-else>
                    {{ data.pay_amount }}
                  </span>
                </td>
              </tr>
            </tbody>

            <!-- <span ></span> -->
          </template>
        </v-simple-table>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
export default {
  name: `DialogLottoDetail`,
  props: ["toggle", "setToggle", "detail", "pay"],
  data: () => ({
    dialog: false,
    notifications: false,
    sound: true,
    widgets: false,
  }),
  computed: {
    localAttrs() {
      const attrs = {};

      if (this.variant === "default") {
        attrs.absolute = false;
        attrs.fixed = false;
      } else {
        attrs[this.variant] = true;
      }
      return attrs;
    },
  },
  methods: {
    closeToggle() {
      this.setToggle();
    },
  },
};
</script>
<style></style>
