<template>
  <v-footer fixed shift padless class="bg " app height="60px;">
    <div class="items-flex">
      <div v-for="icon in icons" :key="icon.name">
        <router-link :to="icon.path">
          <button
            color="primary"
            class="mx-4  btn-flex"
            @click="isSetActive(icon.name, icon.path)"
            v-bind:class="{ 'border-r': icon.name == 'แทงหวย' }"
          >
            <v-icon
              size="24px"
              v-bind:class="{ active: icon.name == isActive, normal: true }"
            >
              {{ icon.icon }}
            </v-icon>
            <span
              v-bind:class="{ active: icon.name == isActive, normal: true }"
              >{{ icon.name }}</span
            >
          </button>
        </router-link>
      </div>
    </div>
  </v-footer>
</template>
<script>
import {
  mdiHome,
  mdiBullseye,
  // mdiClipboardEdit,
  mdiAccountEdit,
  mdiSeal,
  mdiTableStar,
} from "@mdi/js";
import { mapGetters } from "vuex";
export default {
  name: `Footer`,

  data: () => ({
    icons: [
      { name: "หน้าแรก", icon: mdiHome, path: "/home" },
      { name: "เพิ่มโพยโปรด", icon: mdiTableStar, path: "/favorite/create" },
      { name: "แทงหวย", icon: mdiBullseye, path: "/lottery" },
      { name: "ผลรางวัล", icon: mdiSeal, path: "/award" },
      { name: "ข้อมูลส่วนตัว", icon: mdiAccountEdit, path: "/profile" },
    ],
    padless: false,
    variant: "default",
  }),
  methods: {
    isSetActive(name) {
      this.$store.dispatch("lottos/isActiveBottom", name);
    },
  },
  computed: {
    ...mapGetters({
      isActive: "lottos/isActiveBottom",
    }),
  },
};
</script>
<style lang="scss" scoped>
.items-flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  align-items: center;
}
span {
  font-size: 12px;
}
.btn-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.normal {
  color: #fff;
}
.active {
  color: #ffff00;
}
.border-r {
  background: #350258;
  border-radius: 50%;
  position: relative;
  top: -25px;
  width: 64px;
  height: 64px;
  z-index: 1000;
  line-height: 20px;
  border-radius: 50%;
  padding-top: 10px;
  filter: drop-shadow(0 2px 6px rgba(238, 238, 238, 0.55));
}
@media screen and (max-width: 568px) {
  .items-flex {
    justify-content: space-around;
  }
  span {
    font-size: 8px;
    text-align: center;
  }
}
</style>
