<template>
  <v-main>
    <Appbar />

    <v-container>
      <!--  -->
      <slot />
      <!--  -->
    </v-container>
    <div v-if="isCheckPath == 'home'"></div>
    <Footer />
  </v-main>
</template>
<script>
import Appbar from "./Appbar";
import Footer from "./Footer";
export default {
  name: `LayoutDefault`,
  components: {
    Appbar,
    Footer,
  },
  data() {
    return {
      user: null,
      isCheckPath: "home",
    };
  },
  created() {
    this.isCheckPath = this.$route.name;
  },
};
</script>
<style>
.v-main__wrap {
  background-color: #8b3da6;
}

.isLoading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  border-radius: 10px;
}
.v-data-footer__select {
  flex-basis: auto;
}
</style>
