<template lang="">
  <v-container>
    <v-card
      class="mt-2"
      v-for="(game, index) in pingpongGame.slice(0, 12)"
      :key="index"
      @click="handlePushToplay(game.gameid)"
    >
      <v-card-text class="text-center">
        {{ game.type_open }} <br />
        {{ game.day }}
        <p class="mb-0">ปิดรับ {{ game.close }}</p>
        <p class="mb-0">เหลือเวลา</p>
        <vue-countdown
          class="green--text px-0"
          v-if="dateDiff(game.day, game.date_close, new Date()) > 0"
          :time="dateDiff(game.day, game.date_close, new Date())"
          v-slot="{ days, hours, minutes, seconds }"
        >
          <p class="mb-0 text-body-2 font-weight-bold">
            {{ `${days != 0 ? days + " วัน" : ""}` }}
          </p>
          <p class="mb-0 text-body-2 font-weight-bold">
            {{ `${hours} ชั่วโมง` }}
          </p>
          {{ `${minutes} นาที` }}:{{ `${seconds} วินาที` }}
        </vue-countdown>
      </v-card-text>
    </v-card>
  </v-container>
</template>
<script>
import { mapState } from "vuex";
import moment from "moment";
import VueCountdown from "@chenfengyuan/vue-countdown";

export default {
  name: "openShoot",
  components: {
    VueCountdown,
  },
  data() {
    return {
      timestamp: "",
      date_now_show: "",
      date_count: "",
      date_close: "",
      countdown_time: "",
      seconds: "",
      hours: "",
      minutes: "",
    };
  },
  methods: {
    async logTest() {
      console.log(this.pingpongGame[0], "TEST");
      console.log(
        moment(this.pingpongGame[0].day.split(" ")[1], "DD-MM-YYYY").format(
          "YYYY-DD-MM"
        )
      );
    },
    dateDiff(date_close, time_close, present) {
      const time = `${moment(date_close.split(" ")[1], "DD-MM-YYYY").format(
        "YYYY-MM-DD"
      )}T${time_close}`;
      console.log(time);
      const countDownDate = new Date(time);
      if (countDownDate.getTime() - present.getTime() <= 0) {
        this.$router.go();
      }
      return countDownDate !== "Invalid Date"
        ? countDownDate.getTime() - present.getTime()
        : null;
    },
    handlePushToplay(url) {
      this.$router.push({ path: `/pingpong/${url}` });
    },
  },
  computed: {
    ...mapState({
      pingpongGame: (state) => state.pingpong.pingpongGame.pingpongs,
      isLoading: (state) => state.pingpong.isLoading,
    }),
  },
  async created() {
    await this.$store.dispatch("pingpong/getAllPingpongGames");
    this.date_close = moment(
      this.pingpongGame[0].day.split(" ")[1],
      "DD-MM-YYYY"
    ).format("YYYY-MM-DD");
    this.timestamp = this.pingpongGame[0].date_close;
  },
};
</script>
<style lang=""></style>
