<template lang="">
  <v-container>
    <v-row>
      <v-col
        cols="12"
        md="4"
        v-for="(item, index) in resultPingpong"
        :key="index"
      >
        <v-card @click="pingpongplay(item.gameid)">
          <v-card-text class="text-center">
            {{ item.type_open }} <br />
            {{ item.day }}
            <p class="mb-0">ปิดรับแล้ว</p>
            <p class="mb-0">ผล {{ item.result }}</p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { mapState } from "vuex";
export default {
  name: "resultPingpong",
  data() {
    return {};
  },
  methods: {
    async logTest() {
      console.log(this.resultPingpong, "result");
    },
    pingpongplay(gameid) {
      this.$router.push({ path: `/pingpong/${gameid}` });
    },
  },
  computed: {
    ...mapState({
      resultPingpong: (state) => state.pingpong.resultPingpong.issuedpingpongs,
    }),
  },
  async created() {
    await this.$store.dispatch("pingpong/getAllResultPingpong");
  },
};
</script>
<style lang=""></style>
